<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"
    />
    <title>Clubby</title>
  </head>
  <body style="background-color: #434250;">
    <noscript>
      <strong
        >We're sorry but clubby-frontend.me doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong
      >
    </noscript>
    
    <div id="app"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
