 <template>
  <md-card md-with-hover class="md-primary">
    <md-card-header style="display: flex;" class="justify-content-between">
      <div class="md-title">{{header}}</div>
      <md-button
        v-if="bigCard() == 0"
        style="margin-right: -10px; margin-top: -10px;"
        class="md-icon-button"
        @click="maximizeCard()"
      >
        <md-icon md-size-2x>fullscreen</md-icon>
      </md-button>
      <md-button
        v-else-if="bigCard() == 1"
        style="margin-right: -10px; margin-top: -10px;"
        class="md-icon-button"
        @click="minimize()"
      >
        <md-icon md-size-2x>fullscreen_exit</md-icon>
      </md-button>
    </md-card-header>
    <md-card-content>
      <md-list>
        <md-list-item :key="item.ID" v-for="item in content" @click="goToDetails(item.ID)">
          <md-avatar :class="avatarSize()">
            <img :src="item['logo']" alt="Logo" />
          </md-avatar>

          <div class="md-list-item-text">
            <span style="font-size: 120%;">{{ item['name'] }}</span>
            <span style="color: rgba(255,255,255, 0.5);">{{ item['city'] }}</span>
            <span style="color: rgba(255,255,255, 0.5);">{{ item['music'] }}</span>
            <div class="description" v-if="bigCard()!=0">{{ item['shortDescription'] }}</div>
          </div>

          <div style="font-size: 12px;" class="md-list-action">{{ item['overallRating'] }}/5</div>
        </md-list-item>
      </md-list>
      <div class="pager" v-if="bigCard()!==0">
        <md-button
          :style="hideElementOnNoPrevPages()"
          class="md-icon-button"
          @click="previousPage()"
        >
          <md-icon>navigate_before</md-icon>
        </md-button>
        <span style="line-height: 300%;">{{ pageNumber() }}</span>
        <md-button :style="hideElementOnNoNextPages()" class="md-icon-button" @click="nextPage()">
          <md-icon>navigate_next</md-icon>
        </md-button>
      </div>
    </md-card-content>
  </md-card>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import Institution from "../models/Institution";
import { Watch } from "vue-property-decorator";

@Component({
  props: {
    header: String,
    content: Array,
    maximize: String,
    limit: Number,
    page: Number
  }
})
export default class ContentCard extends Vue {
  @Watch("page", { immediate: true, deep: false })
  pageNumber(): number {
    return this.$props.page;
  }
  hideElementOnNoPrevPages(): string {
    return this.$props.page - 1 > 0 ? "" : "visibility: hidden;";
  }
  hideElementOnNoNextPages(): string {
    return this.$props.page + 1 <= this.$props.limit
      ? ""
      : "visibility: hidden;";
  }
  minimize(): void {
    if (this.$route.path.substr(0, 6) === "/clubs") {
      this.$router.push("/clubs");
    } else if (this.$route.path.substr(0, 7) === "/events") {
      this.$router.push("/events");
    }
  }
  avatarSize(): string {
    if (this.bigCard() != 0) {
      return "md-large";
    } else {
      return "";
    }
  }
  bigCard(): number {
    var result = 0;
    if (this.$props.maximize === "yes") {
      result = 1;
    } else if (this.$props.maximize === "hidden") {
      result = 2;
    }
    return result;
  }
  maximizeCard(): void {
    this.$router.push(this.$props.maximize);
  }

    goToDetails(id: number): void {
    if(this.$route.path.includes("/clubs")) {
      this.$router.push("/clubs/details/" + id);
    }
    else {
      this.$router.push("/events/detauls/"+ id);
    }
  }
  nextPage(): void {
    this.$emit("nextPage");
  }
  previousPage(): void {
    this.$emit("previousPage");
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
.md-card-content {
  padding-bottom: 0px;
  flex-grow: 2;
}
.md-card {
  display: flex;
  flex-direction: column;
}
.md-layout {
  justify-content: space-between;
}
.buttonDiv {
  padding: 10px 0px;
}
.md-title {
  font-size: 22px;
}
.md-list-item {
  border-bottom: solid #434250 1px;
  padding-top: 10px;
  height: auto;
}

.md-list-item:last-child {
  border-bottom: 0;
}
.md-list-item,
.md-list {
  padding: 0;
  background-color: $my-primary !important;
}
.description {
  height: 70px;
  max-height: 70px;
}
.pager {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
}
</style>
