 <template>
  <md-card md-with-hover class="md-primary">
    <md-card-header style="display: flex;" class="justify-content-between">
      <div class="md-title">{{topText}}</div>
      <md-button
        style="margin-right: -10px; margin-top: -10px;"
        class="md-icon-button"
        @click="minimize()"
      >
        <md-icon md-size-2x>fullscreen_exit</md-icon>
      </md-button>
    </md-card-header>
    <md-card-content>
      <form class="md-layout" @submit.prevent="startSearch">
        <div class="flexContainer">
          <md-field>
            <label>{{ labelText }}</label>
            <md-input v-model="searchTerm" type="text" />
            <span class="md-helper-text">{{ helperText }}</span>
          </md-field>
          <div class="flexHelper">
            <md-button class="md-raised md-accent" @click="showFilters()">Filters</md-button>
          </div>
        </div>
        <div class="filters" v-if="filters">
          <div class="place">
            <div class="place">
              Place type:
              <md-checkbox v-model="club">Club</md-checkbox>
              <md-checkbox v-model="pub">Pub</md-checkbox>
              <md-checkbox v-model="chall">Concert Hall</md-checkbox>
            </div>
            <div class="city">
              <md-autocomplete v-model="city" v-bind:md-options="cityOptions">
                <label>City</label>
                <span class="md-helper-text">Choose city</span>
              </md-autocomplete>
            </div>
          </div>
          <div class="music">
            Music:
            <md-checkbox v-model="country">Country</md-checkbox>
            <md-checkbox v-model="pop">Pop</md-checkbox>
            <md-checkbox v-model="rnb">R'n'b</md-checkbox>
            <md-checkbox v-model="rock">Rock</md-checkbox>
            <md-checkbox v-model="heavymetal">Heavy Metal</md-checkbox>
            <md-checkbox v-model="blues">Blues</md-checkbox>
            <md-checkbox v-model="jazz">Jazz</md-checkbox>
            <md-checkbox v-model="classical">Classical</md-checkbox>
            <md-checkbox v-model="hiphop">Hip-hop</md-checkbox>
          </div>
          <div v-if="entity=='Club'" class="ratings">
            <div class="overall">
              Overall rating:
              <div>
                <input type="range" min="1" max="5" v-model.number="overall" value="1" />
                {{ overall }}/5
              </div>
            </div>
            <div>
              Sound:
              <div>
                <input type="range" min="1" max="5" v-model.number="sound" value="1" />
                {{ sound }}/5
              </div>
            </div>
            <div>
              Offer:
              <div>
                <input type="range" min="1" max="5" v-model.number="offer" value="1" />
                {{ offer }}/5
              </div>
            </div>
            <div>
              Atmosphere:
              <div>
                <input type="range" min="1" max="5" v-model.number="atmosphere" value="1" />
                {{ atmosphere }}/5
              </div>
            </div>
            <div>
              Prices
              <div>
                <input type="range" min="1" max="5" v-model.number="prices" value="1" />
                {{ prices }}/5
              </div>
            </div>
          </div>
          <div v-else class="dateFrame">
            <div>
              Date from:
              <md-field>
                <md-input v-model="dateFrom" type="date" />
              </md-field>
            </div>
            <div>
              Date to:
              <md-field>
                <md-input v-model="dateTo" type="date" />
              </md-field>
            </div>
          </div>
        </div>
        <div class="justify-content-center d-flex buttonDiv" style="width: 100%;">
          <md-button class="md-raised md-accent" type="submit">Go</md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import axios from "axios";

@Component({
  props: {
    topText: String,
    labelText: String,
    helperText: String,
    mainInput: String,
    entity: String
  }
})
export default class AdvancedSearchCard extends Vue {
  searchTerm: string = "";
  filters: boolean = false;

  club: boolean = false;
  pub: boolean = false;
  chall: boolean = false;
  city: string = "";
  cityOptions: string[] = [];

  country: boolean = false;
  pop: boolean = false;
  rnb: boolean = false;
  rock: boolean = false;
  heavymetal: boolean = false;
  blues: boolean = false;
  jazz: boolean = false;
  classical: boolean = false;
  hiphop: boolean = false;

  dateFrom: string = "";
  dateTo: string = "";

  overall: number = 1;
  sound: number = 1;
  offer: number = 1;
  atmosphere: number = 1;
  prices: number = 1;

  beforeMount(): void {
    this.searchTerm = this.$props.mainInput;
    this.getCityOptions();
  }
  showFilters() {
    this.filters = !this.filters;
    this.$emit("filters");
  }
  minimize(): void {
    if (this.$props.entity == "Club") {
      this.$router.push("/clubs");
    } else if (this.$props.entity == "Event") {
      this.$router.push("/events");
    }
  }
  startSearch(): void {
    const query = this.getActualQuery();
    Vue.$log.debug(query);
    this.$emit("queryChanged", query);
  }
  getActualQuery() {
    const ratings = {
      overall: this.overall,
      sound: this.sound,
      offer: this.offer,
      atmosphere: this.atmosphere,
      prices: this.prices
    };
    if (ratings.overall == 1) {
      ratings.overall = 0;
    }
    if (ratings.sound == 1) {
      ratings.sound = 0;
    }
    if (ratings.offer == 1) {
      ratings.offer = 0;
    }
    if (ratings.atmosphere == 1) {
      ratings.atmosphere = 0;
    }
    if (ratings.prices == 1) {
      ratings.prices = 0;
    }

    const city = this.city;

    const genresArray: string[] = [];

    if (this.country) {
      genresArray.push("Country");
    }
    if (this.pop) {
      genresArray.push("Pop");
    }
    if (this.rnb) {
      genresArray.push("R'n'b");
    }
    if (this.rock) {
      genresArray.push("Rock");
    }
    if (this.heavymetal) {
      genresArray.push("Heavy Metal");
    }
    if (this.blues) {
      genresArray.push("Blues");
    }
    if (this.jazz) {
      genresArray.push("Jazz");
    }
    if (this.classical) {
      genresArray.push("Classical");
    }
    if (this.hiphop) {
      genresArray.push("Hip-hop");
    }

    const placeTypesArray: number[] = [];
    if (this.club) {
      placeTypesArray.push(1);
    }
    if (this.chall) {
      placeTypesArray.push(3);
    }
    if (this.pub) {
      placeTypesArray.push(2);
    }

    return {
      city: city,
      searchTerm: this.searchTerm,
      dateFrom: this.dateFrom,
      dateTo: this.dateTo,
      genresArray,
      placeTypesArray,
      ratings
    };
  }

  getCityOptions(): void {
    try {
      axios.get("/api/city").then(response => {
        for (var i in response.data.data)
          this.cityOptions.push(response.data.data[i]["Name"]);
      });
    } catch (error) {
      Vue.$log.error(error);
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
.md-card-content {
  padding-bottom: 0px;
  flex-grow: 2;
}
.md-card {
  display: flex;
  flex-direction: column;
}
.md-layout {
  justify-content: space-between;
}
.buttonDiv {
  padding: 20px 0px;
}
.flexContainer {
  display: flex;
  width: 100%;
  padding: 10px 0px 30px 0px;
  border-bottom: solid $my-accent 2px;
  justify-content: space-around;
  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
  }
}
.filters {
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 20px 0px 10px 0px;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}
.place {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.music {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.ratings {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.ratings > div > div {
  display: flex;
  justify-content: center;
}
.dateFrame {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.flexHelper {
  flex-shrink: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  width: 30%;
  justify-content: center;
  display: flex;
  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
    width: 100%;
    padding: 10px 20px;
  }
}
.md-card {
  margin-bottom: 10px;
}

.flexContainer .md-field {
  flex-shrink: 25;
}
.md-checkbox {
  margin: 0;
}
.city {
  width: 80%;
}
.ratings .overall {
  margin-bottom: 25px;
}
</style>
