<template>
  <md-card class="md-primary">
    <md-card-header>
      <div class="md-title">{{ header }}</div>
    </md-card-header>
    <md-list>
      <md-list-item :key="item.id" v-for="item in informations">
        <span v-if="!item.url">{{item.content}}</span>
        <a target="_blank" :href="item.content" v-else >{{item.content}}</a>
      </md-list-item>
    </md-list>
  </md-card>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component({
  props: {
    informations: Array,
    header: String
  }
})
export default class BasicInfoCard extends Vue {}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";

.md-list-item {
  border-bottom: solid #434250 1px;
  height: auto;
}
.md-list-item span {
  width: 100%;
  overflow: hidden;
}

.md-list-item a {
  width: 100%;
  overflow: hidden;
}

.md-list-item:last-child {
  border-bottom: 0;
}
.md-list-item,
.md-list {
  background-color: $my-primary !important;
}
.md-list {
  padding: 0 25px;
}
.md-card {
  height: 100%;
}
</style>
