<template>
  <div class="about-container">
    <div class="md-title">About club</div>
    <div class="photo-container">
      <img class="img-fluid fleximg" :src="image1" />
      <img class="img-fluid fleximg" :src="image2" />
    </div>
    <div class="text-content">{{ content }}</div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { mapGetters } from 'vuex'
import { Watch } from "vue-property-decorator";


@Component({
})
export default class ClubAbout extends Vue {
  image1: string = "";
  image2: string = "";
  content: string = "";
  getClubs = this.$store.getters.getClub;

  @Watch("getClubs", {immediate: true, deep: true})
  setData(){
    this.image1 = this.getClubs.AboutUsPhoto1;
    this.image2 = this.getClubs.AboutUsPhoto2;
    this.content = this.getClubs.AboutUsContent;
  }
}   
</script>

<style lang="scss">
@import "../app-theme.scss";
.about-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $my-primary;
  padding: 20px;
}
.photo-container{
  display: flex;
  min-width: 0;
  width: 100%;
  justify-content: space-between;
}
.fleximg{
  width: 45%;
}

</style>