<template>
  <div>
        clubDetail {{$route.params}}
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component({
})
export default class ClubDetails extends Vue {}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";

</style>
