<template>
  <NewContentCard
    entity="Club"
    :page="page"
    :content="pageContent()"
    :header="headline"
    maximize="yes"
    :limit="countLimit()"
    @nextPage="nextPage()"
    @previousPage="previousPage()"
  ></NewContentCard>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import NewContentCard from "./newContentCard.vue";
import Institution from "../models/Institution";
import axios from "axios";
import City from "../models/City";
import { Watch } from "vue-property-decorator";

const BIG_CARD_CAPACITY = 4;

@Component({
  components: {
    NewContentCard
  }
})
export default class ClubList extends Vue {
  headline: String = "";
  clubsContent: Institution[] = [];
  page: number = 1;
  beforeMount(): void {
    if (this.$route.params.cityID === "0") {
      this.headline = "Clubs to discover";
      axios({
        method: "get",
        url: `/api/club`
      })
        .then(response => {
          for (var i in response.data.data) {
            this.clubsContent.push(response.data.data[i]);
          }
        })
        .catch(error => {
          Vue.$log.debug(error);
        });
    } else {
      axios({
        method: "get",
        url: `/api/city/${this.$route.params.cityID}`
      })
        .then(response => {
          this.headline = `Clubs in ${response.data.data.Name}`;
        })
        .catch(error => {
          Vue.$log.error(error);
        });
      axios({
        method: "get",
        url: `/api/club/city/${this.$route.params.cityID}`
      })
        .then(response => {
          for (var i in response.data.data) {
            this.clubsContent.push(response.data.data[i]);
          }
        })
        .catch(error => {
          Vue.$log.error(error);
        });
    }
  }

  pageContent(): Institution[] {
    return this.clubsContent.slice(
      (this.page - 1) * BIG_CARD_CAPACITY,
      this.page * BIG_CARD_CAPACITY
    );
  }
  countLimit(): number {
    return Math.ceil(this.clubsContent.length / BIG_CARD_CAPACITY);
  }
  nextPage(): void {
    this.page++;
  }
  previousPage(): void {
    this.page--;
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";

.md-card {
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>

