<template>
  <BasicInfoCard :informations="contentArray"></BasicInfoCard>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ThreeCards from "./threeCards.vue";
import BasicInfoCard from "./basicInfoCard.vue";
import { Dictionary } from "vue-router/types/router";

@Component({
  components: {
    BasicInfoCard
  }
})
export default class ClubInfo extends Vue {
  contentArray: Array<Dictionary<String>> = [];

  beforeMount(): void {
    const club = this.$store.getters.getClub;
    this.contentArray.push({
      id: "1",
      content: club.Name
    });
    this.contentArray.push({
      id: "2",
      content: club.Address
    });
    this.contentArray.push({
      id: "3",
      content: club.city.Name
    });
    this.contentArray.push({
      id: "4",
      content: club.club_type.Name
    });
    for (var i in club.genres) {
      this.contentArray.push({
        id: (i+5).toString(),
        content: club.genres[i].Name
      });
    }
    // const toDisplay1 = "Mon: " + club.openTime.monday.open + " - " + club.openTime.monday.close;
    // this.contentArray.push({
    //     id: "7",
    //     content: toDisplay1
    // });
    // const toDisplay2 = "Tue: " + club.openTime.tuesday.open + " - " + club.openTime.tuesday.close;
    // this.contentArray.push({
    //     id: "8",
    //     content: toDisplay2
    // });
    // const toDisplay3 = "Wed: " + club.openTime.wednesday.open + " - " + club.openTime.wednesday.close;
    // this.contentArray.push({
    //     id: "9",
    //     content: toDisplay3
    // });
    // const toDisplay4 = "Thu: " + club.openTime.thursday.open + " - " + club.openTime.thursday.close;
    // this.contentArray.push({
    //     id: "10",
    //     content: toDisplay4
    // });
    // const toDisplay5 = "Fri: " + club.openTime.friday.open + " - " + club.openTime.friday.close;
    // this.contentArray.push({
    //     id: "11",
    //     content: toDisplay5
    // });
    // const toDisplay6 = "Sat: " + club.openTime.saturday.open + " - " + club.openTime.saturday.close;
    // this.contentArray.push({
    //     id: "12",
    //     content: toDisplay6
    // });
    // const toDisplay7 = "Sun: " + club.openTime.sunday.open + " - " + club.openTime.sunday.close;
    // this.contentArray.push({
    //     id: "13",
    //     content: toDisplay7
    // });
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
</style>
