<template>
  <div>
    <AdvancedSearchCard
      entity="Club"
      :mainInput="initialSearchTerm"
      @queryChanged="getNewData"
      topText="Search for clubs"
      labelText="Club"
      helperText="Find the desired club"
      @filters="filters"
    ></AdvancedSearchCard>
    <NewContentCard
    entity="Club"
    :page="page"
    :content="pageContent()"
    :header="headline"
    maximize="hidden"
    :limit="countLimit()"
    @nextPage="nextPage()"
    @previousPage="previousPage()"
  ></NewContentCard>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ThreeCards from "./threeCards.vue";
import SearchList from "./searchList.vue";
import NewContentCard from "./newContentCard.vue";
import AdvancedSearchCard from "./advancedSearchCard.vue";
import Institution from "../models/Institution";
import apiCall from "@/services/apiMock";
import City from "@/models/City";
import { Watch } from "vue-property-decorator";
import axios from 'axios';

var SEARCH_CARD_CAPACITY = 3;

@Component({
  components: {
    NewContentCard,
    AdvancedSearchCard
  },
  props: {
    initialSearchTerm: String
  }
})
export default class ClubsSearch extends Vue {
  headline: String = "Search results";
  searchResultData: Institution[] = [];
  page: number = 1;

  filters() {
    if (SEARCH_CARD_CAPACITY === 3){
      SEARCH_CARD_CAPACITY = 2;
    }
    else {
      SEARCH_CARD_CAPACITY = 3;
    }
  }

  pageContent() {
    return this.searchResultData.slice(
      (this.page - 1) * SEARCH_CARD_CAPACITY,
      this.page * SEARCH_CARD_CAPACITY
    );
  }
  nextPage() {
    this.page++;
  }
  previousPage() {
    this.page--;
  }
  @Watch("searchResultData.length", { immediate: true, deep: false })
  countLimit() {
    return Math.ceil(this.searchResultData.length / SEARCH_CARD_CAPACITY);
  }
  getNewData(query) {
    this.page = 1;
    this.searchResultData = [];
    axios({
      method: "post",
      url: "/api/search/club",
      data: query
    }).then(response => {
      this.searchResultData = response.data.data;
    }).catch(error => {
      Vue.$log.error(error);
    });
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
</style>
