<template>
  <div class="contact-container">
    <h1>{{ headlineTop }}</h1>
    <h3>{{ headlineAdditional }}</h3>
    <form class="md-layout mt-3" @submit.prevent="send">
      <md-field>
        <label>E-mail</label>
        <md-input required v-model="eMail" type="text" />
        <span class="md-helper-text">Let us know how should we respond to you</span>
      </md-field>
      <md-field>
        <label>Name</label>
        <md-input required v-model="name" type="text" />
        <span class="md-helper-text">Sign your message</span>
      </md-field>
      <md-field>
        <label>Message</label>
        <md-textarea required v-model="message" type="text" maxlength="1200"></md-textarea>
        <span class="md-helper-text">{{ helperTextMessage }}</span>
      </md-field>
      <div class="justify-content-center d-flex" style="width: 100%;">
        <md-button class="md-raised md-accent" type="submit">Send</md-button>
      </div>
    </form>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import axios from 'axios';

@Component({
  props: {
    headlineTop: String,
    headlineAdditional: String,
    helperTextMessage: String,
    defaultName: String,
    defaultMail: String,
    recipientMail: String
  }
})
export default class ContactForm extends Vue {
  eMail: string = "";
  name: string = "";
  message: string = "";
  beforeMount(): void {
    this.name = this.$props.defaultName;
    this.eMail = this.$props.defaultMail;
  }
  send(): void {
    const data = {
      "email": this.$props.recipientMail,
      "sender": this.eMail,
      "name": this.name,
      "content": this.message
    };
    axios({
      method: "post",
      url: "/api/contact",
      data: data 
    }).then(respose => {
      alert("Message has been sent");
      this.$router.push("/home");
    }).catch(error => {
      alert("Something went wrong - e-mail?");
    });
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
.contact-container {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    // Larger than sm: 576px
    width: 70%;
  }
  @include media-breakpoint-up(xl) {
    // Larger than sm: 576px
    width: 50%;
  }
  @include media-breakpoint-down(sm) {
    // Larger than sm: 576px
    width: 80%;
  }
}
form {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-size: 40px;
}
h3 {
  text-align: center;
  font-size: 20px;
}
</style>