<template>
  <div>
    <contactForm
      headlineTop="Do you have a question?"
      headlineAdditional="Contact event organizers and get your answers now"
      helperTextMessage="What is your question"
      v-bind:defaultName="this.$store.getters.getProfile.DisplayName"
      v-bind:defaultMail="this.$store.getters.getProfile.ContactMail"
      v-bind:recipientMail="mail"
    >
    </contactForm>
  </div> 
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ContactForm from "./contactForm.vue";

@Component({
  components: {
    ContactForm
  }
})
export default class EventClub extends Vue {
    mail: String = "";
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
</style>