<template>
  <div>
    <contactForm
      headlineTop="Do you have a question?"
      headlineAdditional="Contact club representant and get your answers now"
      helperTextMessage="What is your question"
      v-bind:defaultName="this.$store.getters.getProfile.DisplayName"
      v-bind:defaultMail="this.$store.getters.getProfile.ContactMail"
      v-bind:recipientMail="mail"
    >
    </contactForm>
  </div> 
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ContactForm from "./contactForm.vue";
import axios from "axios";

@Component({
  components: {
    ContactForm
  }
})
export default class ContactClub extends Vue {
  mail: String = "";
  
  beforeMount(): void {
    axios({
      method: "get",
      url: `/api/contact/club/${this.$store.getters.getClub.ID}`
    }).then(response => {
      this.mail = response.data.mail;
    }).catch(error => {
      Vue.$log.error(error);
    })
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
</style>