 <template>
  <div class="reviewContainer">
    <ReviewHeaderCard :entity="entity" :header="header" :content="headerContent"></ReviewHeaderCard>
    <ReviewFormCard @postData="createReview" :update="update" :entity="entity"></ReviewFormCard>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ReviewHeaderCard from "./reviewHeaderCard.vue";
import ReviewFormCard from "./reviewFormCard.vue";
import { Watch } from "vue-property-decorator";
import axios from "axios";
import Club from "../models/Club";
import Review from "../models/Review";

@Component({
  components: {
    ReviewHeaderCard,
    ReviewFormCard
  }
})
export default class CreateReviewForm extends Vue {
  header: String = "Create review for";
  entity: String = "";
  headerContent: Array<any> = [];
  update: any = {};
  beforeMount() {
    if (this.$route.path.includes("/club")) {
      this.entity = "Club";
      this.getClub();
    } else {
      this.entity = "Event";
      this.getEvent();
    }
  }
  getClub() {
    axios({
      url: `/api/club/${this.$route.params.id}`,
      method: "get"
    }).then(response => {
      this.headerContent.push(response.data.data);
      axios({
        url: "/api/review/club/check",
        method: "get",
        params: {
          club: this.headerContent[0].ID,
          user: this.$store.getters.getProfile.ID
        }
      })
        .then(response => {
          if (response.data.data[0]) {
            this.update = response.data.data[0];
            this.header = `Update review for ${this.headerContent[0].Name}`;
          } else {
            this.update = {};
            this.header = `Create review for ${this.headerContent[0].Name}`;
          }
        })
        .catch(error => {
          Vue.$log.error(error);
        });
    });
  }
  getEvent() {
    axios({
      url: `/api/event/${this.$route.params.id}`,
      method: "get"
    }).then(response => {
      this.headerContent.push(response.data.data);
      axios({
        url: "/api/review/event/check",
        method: "get",
        params: {
          event: this.headerContent[0].ID,
          user: this.$store.getters.getProfile.ID
        }
      })
        .then(response => {
          if (response.data.data[0]) {
            this.update = response.data.data[0];
            this.header = `Update review for ${this.headerContent[0].Name}`;
          } else {
            this.update = {};
            this.header = `Create review for ${this.headerContent[0].Name}`;
          }
        })
        .catch(error => {
          Vue.$log.error(error);
        });
    });
  }
  formEnd() {
    if (this.$store.state.appState.lastPath) {
      this.$router.push(this.$store.state.appState.lastPath);
    } else {
      this.$router.push("/home");
    }
  }
  createReview(object): void {
    if (this.update.ID) {
      axios({
        method: "put",
        data: object,
        url: `/api/review/${this.update.ID}`
      })
        .then(response => {
          alert("Review updated");
          this.formEnd();
        })
        .catch(error => {
          Vue.$log.debug(error);
        });
    } else {
      if (this.$route.path.includes("club")){
        object.club = this.$route.params.id;
        object.event = null;
        object.type = "ClubReview";
      }
      else {
        object.event = this.$route.params.id;
        object.club = null;
        object.type = "EventReview";
      }
      object.user = this.$store.getters.getProfile.ID;
      axios({
        method: "post",
        data: object,
        url: `/api/review`
      }).then(response => {
        alert("Review created");
        this.formEnd();
      }).catch(error => {
        Vue.$log.debug(error);
      });
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
</style>
