<template>
  <div class="navbar-container">
    <img class="img-fluid" v-bind:src="actualPhoto()" />
    <div v-if="showAttButton" class="d-flex justify-content-center py-3">
      <md-button v-if="!attendee" @click="attendEvent()" class="md-raised md-accent">Attend</md-button>
      <md-button v-else @click="unattendEvent()" class="md-raised md-accent">Leave</md-button>
      <div v-if="$route.path.includes('preview')">THIS IS PREVIEW ONLY</div>
    </div>
    <md-list>
      <md-list-item :key="item.id" v-for="item in topList" @click="handleFunctionCall(item.action)">
        <md-icon>{{ item['icon'] }}</md-icon>
        <span class="md-list-item-text">{{ item['text'] }}</span>
      </md-list-item>
    </md-list>
    <div class="spacer"></div>
    <md-list>
      <md-list-item
        :key="item.id"
        v-for="item in bottomList"
        @click="handleFunctionCall(item.action)"
      >
        <md-icon>{{ item['icon'] }}</md-icon>
        <span class="md-list-item-text">{{ item['text'] }}</span>
      </md-list-item>
    </md-list>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import Component from "vue-class-component";
import { Watch } from "vue-property-decorator";
import { Dictionary } from "vue-router/types/router";
import { MENU_TOGGLE } from "../store/storeConstants";
import Axios from 'axios';

@Component({
  props: {
    listType: Number,
    photo: String
  }
})
export default class CustomNav extends Vue {
  topList: Array<Dictionary<string>> = [];
  bottomList: Array<Dictionary<string>> = [];
  showAttButton: boolean = false;
  attendee: boolean = false;

  @Watch("listType", { immediate: true, deep: false })
  setLists(): void {
    if (this.$props.listType === 0) {
      this.showAttButton = false;
      this.attendee = false;
      this.topList = [
        {
          id: "0",
          text: "Home",
          icon: "home",
          action: "goToHome"
        },
        {
          id: "1",
          text: "Music",
          icon: "music_note",
          action: "alert"
        },
        {
          id: "2",
          text: "Clubs",
          icon: "star",
          action: "goToClubs"
        },
        {
          id: "3",
          text: "Events",
          icon: "event",
          action: "goToEvents"
        },
        {
          id: "4",
          text: "Social",
          icon: "people_alt",
          action: "alert"
        },
        {
          id: "5",
          text: "Ratings",
          icon: "bar_chart",
          action: "goToRatings"
        },
        {
          id: "6",
          text: "Your projects",
          icon: "settings_applications",
          action: "goToSettings"
        }
      ];
      this.bottomList = [
        {
          id: "0",
          text: "Help",
          icon: "help_outline",
          action: "goToHelp"
        }
      ];
    } else if (this.$props.listType === 1) {
      this.showAttButton = false;
      this.attendee = false;
      this.topList = [
        {
          id: "0",
          text: "News",
          icon: "chat",
          action: "newsClub"
        },
        {
          id: "1",
          text: "Information",
          icon: "info_outline",
          action: "goToClubInfo"
        },
        {
          id: "2",
          text: "Offer",
          icon: "star",
          action: "alert"
        },
        {
          id: "3",
          text: "Events",
          icon: "event_note",
          action: "goToClubEvents"
        },
        {
          id: "4",
          text: "Reviews",
          icon: "bar_chart",
          action: "goToClubReviews"
        }
      ];
      this.bottomList = [
        {
          id: "0",
          text: "About Us",
          icon: "subject",
          action: "goToAbout"
        },
        {
          id: "1",
          text: "Contact",
          icon: "email",
          action: "contactClub"
        }
      ];
    } else if (this.$props.listType === 3) {
      this.showAttButton = false;
      this.attendee = false;
      this.topList = [
        {
          id: "0",
          text: "News",
          icon: "chat",
          action: "newsClub"
        },
        {
          id: "1",
          text: "Information",
          icon: "info_outline",
          action: "goToClubInfo"
        }
      ];
      this.bottomList = [
        {
          id: "0",
          text: "About Us",
          icon: "subject",
          action: "goToAbout"
        }
      ];
      } else if (this.$props.listType === 2) {
      this.checkAttendance();
      this.topList = [
        {
          id: "1",
          text: "Information",
          icon: "info_outline",
          action: "goToInfo"
        },
        {
          id: "2",
          text: "Reviews",
          icon: "bar_chart",
          action: "goToEventReviews"
        }
      ];
      this.bottomList = [
        {
          id: "0",
          text: "Club",
          icon: "place",
          action: "goToClub"
        },
        {
          id: "1",
          text: "Contact",
          icon: "email",
          action: "contactEvents"
        }
      ];
    } else if (this.$props.listType === 4) {
      this.showAttButton = false;
      this.attendee = false;
      this.topList = [
        {
          id: "1",
          text: "Information",
          icon: "info_outline",
          action: "goToInfo"
        }
      ];
    } else {
      this.showAttButton = false;
      this.attendee = false;
      this.topList = [
        {
          id: "0",
          text: "Register",
          icon: "fast_forward",
          action: "goToRegister"
        },
        {
          id: "1",
          text: "Login",
          icon: "play_arrow",
          action: "goToLogin"
        }
      ];
      this.bottomList = [
        {
          id: "0",
          text: "Help",
          icon: "help_outline",
          action: "goToHelp"
        }
      ];
    }
  }
  beforeMount(): void {
    this.setLists();
  }

  @Watch("photo", { immediate: true, deep: false })
  actualPhoto(): string {
    return this.$props.photo;
  }
  alert(): void {
    window.alert("...");
  }
  goToRegister(): void {
    if (this.$router.currentRoute.path !== "/register") {
      this.$router.push("/register");
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  goToLogin(): void {
    if (this.$router.currentRoute.path !== "/login") {
      this.$router.push("/login");
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  goToHelp(): void {
    if (this.$router.currentRoute.path !== "/help") {
      this.$router.push("/help");
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  goToHome(): void {
    if (this.$router.currentRoute.path !== "/home") {
      this.$router.push("/home");
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  goToClubs(): void {
    if (this.$router.currentRoute.path !== "/clubs") {
      this.$router.push("/clubs");
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  goToAbout(): void {
    if (this.$router.currentRoute.path !== "/about") {
      this.$router.push({ name: "Club about" });
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }

  handleFunctionCall(functionName): void {
    this[functionName]();
  }
  contactClub(): void {
    if (!this.$route.path.includes("/contact")) {
      this.$router.push({ name: "Club contact" });
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  newsClub(): void {
    if (!this.$route.path.includes("/news")) {
      this.$router.push({ name: "Club news" });
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  goToEvents(): void {
    if (this.$router.currentRoute.path !== "/events") {
      this.$router.push("/events");
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  contactEvents(): void {
    if (!this.$route.path.includes("/contact")) {
      this.$router.push({ name: "Events contact" });
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  newsEvents(): void {
    if (!this.$route.path.includes("/news")) {
      this.$router.push({ name: "Events news" });
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  goToSettings(): void {
    if (!this.$route.path.includes("/settings")) {
      this.$router.push("/settings");
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  goToClubInfo(): void {
    if (!this.$route.path.includes("/info")) {
      this.$router.push({ name: "Club info" });
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  goToClubReviews(): void {
    if (!this.$route.path.includes("/ratings")) {
      this.$router.push({ name: "Club ratings" });
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  goToClubEvents(): void {
    if (!this.$route.path.includes("/events")) {
      this.$router.push({ name: "Club events" });
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  goToRatings(): void {
    if (!this.$route.path.includes("/ratings")) {
      this.$router.push("/ratings");
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  goToClub(): void {
    this.$router.push(`/clubs/details/${this.$store.getters.getEvent().club.ID}`);
  }
  goToEventReviews(): void {
    if (!this.$route.path.includes("/ratings")) {
      this.$router.push({ name: "Event ratings" });
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  goToInfo(): void {
    if (!this.$route.path.includes("/info")) {
      this.$router.push({ name: "Event info" });
    } else {
      this.$store.dispatch(MENU_TOGGLE);
    }
  }
  checkAttendance(): void {
    Axios({
      method: "get",
      params: {
        "user": this.$store.getters.getProfile.ID,
        "event": this.$store.getters.getEvent().ID
      },
      url: "/api/attendance"
    }).then(response => {
      if (response.status == 200){
        this.attendee=true;
        this.showAttButton=true;
      }
      else {
        this.attendee=false;
        this.showAttButton=true;
      }
    }).catch(error => {
      Vue.$log.error(error);
    });
  }
  attendEvent(): void {
    const data = {
      user: this.$store.getters.getProfile.ID,
      event: this.$store.getters.getEvent().ID
    }
    Axios({
      url: "/api/attendance",
      data: data,
      method: "post"
    }).then(reponse => {
      alert("You attended event");
      this.checkAttendance();
    }).catch(error => {
      this.checkAttendance();
    });
  }
  unattendEvent(): void {
    const data = {
      user: this.$store.getters.getProfile.ID,
      event: this.$store.getters.getEvent().ID
    }
    Axios({
      url: "/api/attendance",
      data: data,
      method: "delete"
    }).then(reponse => {
      alert("You left event");
      this.checkAttendance();
    }).catch(error => {
      this.checkAttendance();
    });
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang='scss' scoped>
@import "../app-theme.scss";
img {
  flex-shrink: 1;
  padding: 15px;
}
.md-list-item,
.md-list {
  padding: 0;
  background-color: $my-primary !important;
}
.spacer {
  flex-grow: 1;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    height: 92.5%;
  }
}
.md-list-item {
  border-bottom: solid #434250 1px;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 72px;
  padding-top: 10px;
  height: auto;
}

.md-list-item:last-child {
  border-bottom: 0;
}
</style>
