<template>
  <ThreeCards entity="Event"></ThreeCards>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ThreeCards from './threeCards.vue';

@Component({
    components: {
        ThreeCards
    }
})
export default class Events extends Vue {}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";

</style>
