<template>
  <div class="info-container">
    <div class="vert-container">
      <BasicInfoCard class="infoCard" :informations="getInfoArray()" header="Basic informations"></BasicInfoCard>
      <BasicInfoCard
        v-if="!soldOut"
        class="infoCard"
        :informations="ticketArray"
        header="Ticket sites"
      ></BasicInfoCard>
      <md-card v-else class="md-primary infoCard">
        <md-card-content class="soldout">SOLD OUT</md-card-content>
      </md-card>
    </div>
    <md-card class="mt-3 md-primary desc-card">
      <md-card-header>
        <div class="md-title">Event description</div>
      </md-card-header>
      <md-card-content>{{ descriptionContent }}</md-card-content>
    </md-card>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ThreeCards from "./threeCards.vue";
import BasicInfoCard from "./basicInfoCard.vue";
import { Dictionary } from "vue-router/types/router";
import { Watch } from "vue-property-decorator";

@Component({
  components: {
    BasicInfoCard
  }
})
export default class EventInfo extends Vue {
  infoArray: Array<Dictionary<String>> = [];
  ticketArray: Array<Dictionary<String>> = [];
  soldOut: boolean = false;
  descriptionContent: string = "";

  beforeMount(): void {
    this.setupEventInformations(this.$store.getters.getEvent());
    this.$store.watch(this.$store.getters.getEvent, event => {
      Vue.$log.debug("entered")
      this.setupEventInformations(event);
    })
  }
  @Watch("infoArray", { immediate: true, deep: true})
  getInfoArray(){
    return this.infoArray;
  }

  setupEventInformations(event) {
    this.soldOut = event.SoldOut;
    this.infoArray = [];
    this.ticketArray = [];
    this.descriptionContent = event.LongDescription;
    for (var i in event.event_ticket_sites) {
      this.ticketArray.push({
        content: event.event_ticket_sites[i].TicketSites,
        id: i,
        url: "true"
      });
    }

    this.infoArray.push({
      content: event.Name,
      id: "1"
    });
    if (event.club) {
      this.infoArray.push({
        content: event.club.Name,
        id: "2"
      });
    }
    this.infoArray.push({
      content: event.Date,
      id: "3"
    });
    this.infoArray.push({
      content: "Start: " + event.TimeStart.substr(0, 5),
      id: "4"
    });
    this.infoArray.push({
      content: "End: " +event.TimeEnd.substr(0, 5),
      id: "5"
    });
    this.infoArray.push({
      content: event.FbContentURL,
      id: "6",
      url: "true"
    });
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";

.info-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.vert-container {
  display: flex;
  min-width: 0;
  flex-basis: 100%;
  flex-grow: 1;
  @include media-breakpoint-down(sm) {
    // Larger than sm: 576px
    flex-direction: column;
  }
}
.desc-container {
  background-color: $my-primary;
  flex-grow: 1;
}
.infoCard {
  min-width: 0;
  flex-grow: 1;
  height: 100%;
  width: 50%;
  @include media-breakpoint-down(lg) {
    // Larger than sm: 576px
    width: inherit;
    margin-bottom: 20px;
  }
}
.soldout {
  width: 100%;
  height: 100%;
  font-size: 48px;
  color: $my-accent;
  text-align: center;
  line-height: 7.25em;
}
.desc-card {
  height: 100%;
}
</style>
