<template>
  <ReviewListCard
    own="false"
    :update="update"
    :page="page"
    :content="pageContent()"
    :header="headline"
    maximize="yes"
    :limit="countLimit()"
    @nextPage="nextPage()"
    @previousPage="previousPage()"
    @deleteUpdate="deleteUpdate"
  ></ReviewListCard>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ReviewListCard from "./reviewsListCard.vue";
import axios from "axios";

const BIG_CARD_CAPACITY = 12;

@Component({
  components: {
    ReviewListCard
  }
})
export default class EventRatings extends Vue {
  headline: string = "";
  page: number = 1;
  ratingsContent: Array<any> = [];
  update: Array<any> = [];

  getRatingContent(): Array<any> {
    this.headline = "Reviews for " + this.$store.getters.getEvent().Name;
    this.ratingsContent = [];
    axios({
      url: `/api/review/event/${this.$store.getters.getEvent().ID}`,
      method: "GET"
    })
      .then(resp => {
        for (var item in resp.data.data) {
          this.ratingsContent.push(resp.data.data[item]);
        }
      })
      .catch(error => {
        Vue.$log.debug(error);
      });
    return this.ratingsContent;
  }

  getUpdate(): Array<any> {
    axios({
      url: "/api/review/event/check",
      method: "get",
      params: {
        event: this.$store.getters.getEvent().ID,
        user: this.$store.getters.getProfile.ID
      }
    })
      .then(response => {
        this.update.push(response.data.data[0]);
      })
      .catch(error => {
        Vue.$log.error(error);
      });

      return this.update;
  }
  beforeMount() {
    this.getRatingContent();
    this.getUpdate();
  }

  pageContent() {
    return this.ratingsContent.slice(
      (this.page - 1) * BIG_CARD_CAPACITY,
      this.page * BIG_CARD_CAPACITY
    );
  }
  countLimit(): number {
    return Math.ceil(this.ratingsContent.length / BIG_CARD_CAPACITY);
  }
  nextPage(): void {
    this.page++;
  }
  previousPage(): void {
    this.page--;
  }
  deleteUpdate(id): void {
    axios({
      method: "delete",
      url: `/api/review/${id}`
    }).then(response => {
      this.update = [];
      this.getRatingContent();
    }).catch(error => {
      Vue.$log.error(error);
      this.getRatingContent();
      this.getUpdate();
    })
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
</style>
