<template>
  <NewContentCard
    entity="Event"
    :page="page"
    :content="pageContent()"
    :header="headline"
    maximize="yes"
    :limit="countLimit()"
    @nextPage="nextPage()"
    @previousPage="previousPage()"
  ></NewContentCard>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import NewContentCard from "./newContentCard.vue";
import Institution from "../models/Institution";
import axios from "axios";
import City from "../models/City";
import { Watch } from "vue-property-decorator";

const BIG_CARD_CAPACITY = 4;

@Component({
  components: {
    NewContentCard
  }
})
export default class EventList extends Vue {
  headline: String = "";
  eventsContent: Institution[] = [];
  page: number = 1;
  beforeMount(): void {
    if (this.$route.params.cityID === "0") {
      this.headline = "Upcomming events";
      axios({
      method: "get",
      url: `/api/event`,
    }).then(response => {
      for (var i in response.data.data){
        this.eventsContent.push(response.data.data[i]);
      }
    }).catch(error => {
      Vue.$log.debug(error);
    });
    }
    else {
      axios({
        method: "get",
        url: `/api/city/${this.$route.params.cityID}`
      }).then( response => {
        this.headline = `Events in ${response.data.data.Name}`;
      }).catch( error => {
        Vue.$log.error(error);
      })
      axios({
        method: "get",
        url: `/api/event/city/${this.$route.params.cityID}`
      }).then( response => {
        for (var i in response.data.data){
        this.eventsContent.push(response.data.data[i]);
      }
      }).catch( error => {
        Vue.$log.error(error);
      })
    }
  }

  pageContent(): Institution[] {
    return this.eventsContent.slice(
      (this.page - 1) * BIG_CARD_CAPACITY,
      this.page * BIG_CARD_CAPACITY
    );
  }
  countLimit(): number {
    return Math.ceil(this.eventsContent.length / BIG_CARD_CAPACITY);
  }
  nextPage(): void {
    this.page++;
  }
  previousPage(): void {
    this.page--;
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";

.md-card {
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>

