 <template>
  <div class="reviewContainer">
    <ReviewHeaderCard entity="Event" :header="header" :content="event"></ReviewHeaderCard>
    <ReviewContentCard :review="reviewItem"></ReviewContentCard>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ReviewHeaderCard from "./reviewHeaderCard.vue";
import ReviewContentCard from "./reviewContentCard.vue";
import { Watch } from "vue-property-decorator";
import axios from "axios";
import Club from "../models/Club";
import Review from "../models/Review";

@Component({
  components: {
    ReviewHeaderCard,
    ReviewContentCard
  }
})
export default class EventReviewDetails extends Vue {
  header: String = "Reviewed by ";
  reviewItem: Object = {};
  event: Array<Club> = [];
  beforeMount() {
    axios({
      method: "get",
      url: `/api/review/${this.$route.params.id}`
    }).then(response => {
      this.event.push(response.data.data.event);
      this.header += response.data.data.app_user.DisplayName;
      this.reviewItem = response.data.data;
    }).catch(error => {
      Vue.$log.error(error);
    });
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
</style>
