<template>
  <div>
    <contactForm
      headlineTop="Need help?"
      headlineAdditional="Contact our administrators"
      helperTextMessage="How can we help you?"
      v-bind:defaultName="this.$store.getters.getProfile.DisplayName"
      v-bind:defaultMail="this.$store.getters.getProfile.ContactMail"
      :recipientMail="mail"
    >
    </contactForm>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ContactForm from "./contactForm.vue";
import axios from "axios";

@Component({
  components: {
    ContactForm
  }
})
export default class Help extends Vue {
  mail: String = "";

  beforeMount(){
    axios({
      method: "get",
      url: "/api/contact/admin"
    }).then(response => {
      this.mail = response.data.mail;
    }).catch(error => {
      Vue.$log.error(error);
    })
  }
}
</script>

<style lang="scss">
@import "../app-theme.scss";
</style>