<template>
  <div class="home-container">
    <h1>Welcome to</h1>
    <img src="../assets/logo.png" />
    <div>The greatest place to start your music journey</div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component({})
export default class Home extends Vue {}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";

.home-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  text-align: center;
}
img {
  width: 60%;
}
</style>
