<template>
  <div class="login-container">
    <img src="../assets/logo.png"/>
    <h1 style="text-align: center;">Sign in</h1>
    <div v-if="errorSet()">Invalid credentials</div>
    <form class="md-layout" @submit.prevent="login">
      <md-field>
        <label>E-mail</label>
        <md-input required v-model="email" type="text" />
        <span class="md-helper-text">Enter your e-mail</span>
      </md-field>
      <md-field>
        <label>Password</label>
        <md-input required v-model="password" type="password"/>
        <span class="md-helper-text">Enter your password</span>
      </md-field>
      <div class="justify-content-center d-flex" style="width: 100%;">
        <md-button class="md-raised md-accent" type="submit">Login</md-button>
      </div>
    </form>
    <div class="text-center mt-3">Don't have an account?, <router-link to="/register">Register </router-link></div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import SiteContainer from './components/siteContainer.vue'
import { AUTH_REQUEST, AUTH_ERROR_TOGGLE } from '../store/storeConstants'

@Component({
})
export default class Login extends Vue {
    email: string = "";
    password: string = "";
    value: boolean = false;

    login() : void {
        const { email, password } = this;
        this.$store.dispatch(AUTH_REQUEST, { email, password }).then(() => {
          this.$router.push('/')
        });
      }


    errorSet() : boolean {
      this.$store.dispatch(AUTH_ERROR_TOGGLE, this.$store.state).then(() => {
        this.value = true;
      });
      return this.value;
    }
}   
</script>

<style lang="scss">
@import "../app-theme.scss";

  .login {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
  }
  .login-container {
    margin: 30px auto;
    @include media-breakpoint-up(md) {
    // Larger than sm: 576px
    width: 60%;
    }
    @include media-breakpoint-up(xl) {
    // Larger than sm: 576px
    width: 35%;
    }
    @include media-breakpoint-down(sm) {
    // Larger than sm: 576px
    width: 80%;
    }
  }
  img {
    margin: 20px 0px;
  }
  a {
    color: $my-accent !important;
  }

</style>