<template>
  <div class="newsContainer">
    <iframe
      :src="facebookQuery()"
      :width="width"
      :height="height"
      style="border:none;overflow:hidden"
      scrolling="no"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media"
    ></iframe>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component({
  
})
export default class NewsPage extends Vue {
  URL: string = "";
  height: Number = screen.height - 300;
  width: Number = 500;
  val: Number = 1;

  facebookQuery() : string{
    if (this.$route.path.includes("/clubs")){
      this.URL = this.$store.getters.getClub.FbContentURL;
    }
    
    var api_result = "https://www.facebook.com/plugins/page.php?"
    api_result = api_result + `href=${escape(this.URL)}&
    tabs=timeline&width=${this.width}&
    height=${this.height}&
    small_header=true&
    adapt_container_width=false&
    hide_cover=false&show_facepile=true&appId)`

    return api_result;
  }

  beforeMount(): void {
    if (screen.width < 500) {
      this.width = screen.width - 35;
      this.height = screen.height - 150;
    }
    if (this.$route.path.includes("/clubs")){
      this.URL = this.$store.getters.getClub.FbContentURL;
    }
  }
  // async mounted() {
  //   await sleep(1000);
  // }
  destroyed(): void {
    Vue.$log.debug("destroyed");
  }
}
</script>
<style lang="scss" scoped>
@import "../app-theme.scss";
.newsContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  widows: 100%;
}
</style>