<template>
    <NewContentCard
      :page="page"
      :content="pageContent()"
      :header="headline"
      maximize="hidden"
      :limit="countLimit()"
      @nextPage="nextPage()"
      @previousPage="previousPage()"
      entity="Club"
      own="true"
      @delete="deleteClub"
    ></NewContentCard>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ThreeCards from "./threeCards.vue";
import NewContentCard from "./newContentCard.vue";
import { Watch } from "vue-property-decorator";
import Club from '../models/Club';
import axios from 'axios';

var SEARCH_CARD_CAPACITY = 5;

@Component({
  components: {
    NewContentCard
  },
  props: {
  }
})
export default class OwnClubsList extends Vue {
  headline: String = "Your clubs";
  page: number = 1;
  ownClubs: Club[] = [];

  beforeMount() : void {
      this.getOwnClubs();
  }

  getOwnClubs(){

    axios({
        method: "get",
        url: `/api/appUser/club/${this.$store.getters.getProfile.ID}`
      })
        .then(response => {
          this.ownClubs = [];
          for (var i in response.data.data)
            this.ownClubs.push(response.data.data[i]);
        })
        .catch(error => {
          Vue.$log.debug(error);
        });
  }

  pageContent() {
    return this.ownClubs.slice(
      (this.page - 1) * SEARCH_CARD_CAPACITY,
      this.page * SEARCH_CARD_CAPACITY
    );
  }
  nextPage() {
    this.page++;
  }
  previousPage() {
    this.page--;
  }
  @Watch("searchResultData.length", { immediate: true, deep: false })
  countLimit() {
    return Math.ceil(this.ownClubs.length / SEARCH_CARD_CAPACITY);
  }

  deleteClub(toDelete){
    axios({
      url: `/api/club/${toDelete.id}`,
      method: "delete"
    }).then(response => {
      this.getOwnClubs();
    })
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
</style>
