<template>
    <NewContentCard
      :page="page"
      :content="pageContent()"
      :header="headline"
      maximize="hidden"
      :limit="countLimit()"
      @nextPage="nextPage()"
      @previousPage="previousPage()"
      entity="Event"
      own="true"
    ></NewContentCard>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ThreeCards from "./threeCards.vue";
import NewContentCard from "./newContentCard.vue";
import { Watch } from "vue-property-decorator";
import Event from "../models/Event";
import axios from 'axios';

var SEARCH_CARD_CAPACITY = 5;

@Component({
  components: {
    NewContentCard
  },
  props: {
  }
})
export default class OwnEventsList extends Vue {
  headline: String = "Your events";
  page: number = 1;
  ownEvents: Event[] = [];

  beforeMount() : void {
      this.getOwnEvents();
  }
  getOwnEvents() {
    axios({
        method: "get",
        url: `/api/appUser/event/${this.$store.getters.getProfile.ID}`
      })
        .then(response => {
          this.ownEvents = [];
          for (var i in response.data.data)
            this.ownEvents.push(response.data.data[i]);
        })
        .catch(error => {
          Vue.$log.debug(error);
        });
  }
  pageContent() {
    return this.ownEvents.slice(
      (this.page - 1) * SEARCH_CARD_CAPACITY,
      this.page * SEARCH_CARD_CAPACITY
    );
  }
  nextPage() {
    this.page++;
  }
  previousPage() {
    this.page--;
  }
  @Watch("searchResultData.length", { immediate: true, deep: false })
  countLimit() {
    return Math.ceil(this.ownEvents.length / SEARCH_CARD_CAPACITY);
  }
  deleteEvent(toDelete){
    axios({
      url: `/api/event/${toDelete.id}`,
      method: "delete"
    }).then(response => {
      this.getOwnEvents();
    })
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
</style>
