 <template>
  <div class="heading">
    {{header}}
    <div>{{rating}}/5</div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import City from "../models/City";
import { Watch } from "vue-property-decorator";
import Review from "../models/Review";

@Component({
  props: {
    rating: Number,
    header: String
  }
})
export default class Rating extends Vue {}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
.heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  @include media-breakpoint-down(md) {
    text-align: start;
  }
}
.heading div {
  text-align: center;
  @include media-breakpoint-down(md) {
    text-align: start;
  }
}
</style>
