<template>
  <md-tabs class="md-primary" md-alignment="fixed" @md-changed="resetPage()">
    <md-tab id="tab-clubs" md-label="Club Reviews">
      <OwnReviewListCard
        :page="page"
        :content="pageContent(clubReviewContent)"
        :limit="countLimit(clubReviewContent)"
        @nextPage="nextPage()"
        @previousPage="previousPage()"
        entity="Club"
        @delete="deleteReview"
      ></OwnReviewListCard>
    </md-tab>
    <md-tab id="tab-events" md-label="Event Reviews">
      <OwnReviewListCard
        :page="page"
        :content="pageContent(eventReviewContent)"
        :limit="countLimit(eventReviewContent)"
        @nextPage="nextPage()"
        @previousPage="previousPage()"
        entity="Event"
        @delete="deleteReview"
      ></OwnReviewListCard>
    </md-tab>
  </md-tabs>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import OwnReviewListCard from "./ownReviewListCard.vue";
import { AUTH_REQUEST, AUTH_ERROR_TOGGLE } from "../store/storeConstants";
import axios from "axios";

const BIG_CARD_CAPACITY = 8;

@Component({
  components: {
    OwnReviewListCard
  }
})
export default class Ratings extends Vue {
  clubReviewContent: Array<any> = [];
  eventReviewContent: Array<any> = [];
  page: number = 1;

  beforeMount(): void {
    this.getClubReviewContent();  
    this.getEventReviewContent();    
  }

  getClubReviewContent(): void {
    axios({
      method: "get",
      url: `/api/review/user/club/${this.$store.getters.getProfile.ID}`
    })
      .then(response => {
        this.clubReviewContent = response.data.data;
      })
      .catch(error => {
        Vue.$log.debug(error);
      });
  }

  getEventReviewContent(): void {
    axios({
      method: "get",
      url: `/api/review/user/event/${this.$store.getters.getProfile.ID}`
    })
      .then(response => {
        this.eventReviewContent = response.data.data;
      })
      .catch(error => {
        Vue.$log.debug(error);
      });
  }

  pageContent(content) {
    return content.slice(
      (this.page - 1) * BIG_CARD_CAPACITY,
      this.page * BIG_CARD_CAPACITY
    );
  }
  countLimit(content): number {
    return Math.ceil(content.length / BIG_CARD_CAPACITY);
  }
  nextPage(): void {
    this.page++;
  }
  previousPage(): void {
    this.page--;
  }
  resetPage(): void {
    this.page = 1;
  }
  deleteReview(id): void {
    axios({
      method: "delete",
      url: `/api/review/${id}`
    }).then(response => {
      this.getEventReviewContent();
      this.getClubReviewContent();
    }).catch(error => {
      Vue.$log.error(error);
      this.getEventReviewContent();
      this.getClubReviewContent();
    })
  }
}
</script>

<style lang="scss">
@import "../app-theme.scss";

.md-tab {
  padding: 0px;
}
</style>