<template>
  <div class="register-container">
    <h1>Register</h1>

    <form class="md-layout" @submit.prevent="register">
      <div class="d-xl-flex justify-content-between">
        <div>
          <md-field>
            <label>E-mail</label>
            <md-input required v-model="email" type="text" />
            <span class="md-helper-text">Enter your e-mail</span>
          </md-field>
          <md-field>
            <label>Password</label>
            <md-input required v-model="password" type="password" />
            <span class="md-helper-text">Enter your password</span>
          </md-field>
          <md-field>
            <label>Confirm password</label>
            <md-input required v-model="password_confirmation" type="password" />
            <span class="md-helper-text">Repeat your password</span>
          </md-field>
        </div>
        <div>
          <md-field>
            <label>Display name</label>
            <md-input required v-model="displayName" type="text" />
            <span class="md-helper-text">Enter name shown over Clubby</span>
          </md-field>
          <md-field>
            <label>Date of birth</label>
            <md-input v-model="dateOfBirth" type="date" />
          </md-field>
          <md-field>
            <label>Logo</label>
            <md-file @md-change="fileToBase64" accept="image/*" />
          </md-field>
          <md-autocomplete v-model="city" v-bind:md-options="cityOptions">
            <label>City</label>
            <span class="md-helper-text">Main place for music</span>
          </md-autocomplete>
        </div>
      </div>
      <md-field>
        <label>Personal description</label>
        <md-textarea v-model="description" type="text" maxlength="255"></md-textarea>
        <span class="md-helper-text">Few words about you</span>
      </md-field>

      <div class="justify-content-center d-flex" style="width: 100%;">
        <md-button class="md-raised md-accent" type="submit">Register</md-button>
      </div>
      <div>
        {{errorMessage}}
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import SiteContainer from "./components/siteContainer.vue";
import axios from "axios";

@Component({})
export default class Register extends Vue {
  email: string = "";
  password: string = "";
  password_confirmation: string = "";
  displayName: string = "";
  city: string = "";
  dateOfBirth: Date = new Date();
  description: string = "";
  logo: string = "";
  cityOptions: string[] = [];

  errorMessage: string = "";
  beforeMount(): void {
    this.getCityOptions();
  }
  getCityOptions(): void {
    try {
      axios.get("/api/city").then(response => {
        for (var i in response.data.data)
          this.cityOptions.push(response.data.data[i]["Name"]);
      });
    } catch (error) {
      Vue.$log.error(error);
    }
  }
  register(): void {
    const xdata = {
      email: this.email,
      password: this.password,
      password_confirmation: this.password_confirmation,
      city: this.city,
      dateOfBirth: this.dateOfBirth,
      displayName: this.displayName,
      description: this.description,
      logo: this.logo
    };

      axios({
        method: "post",
        url: "/api/auth/signup",
        data: xdata
      }).then( response => {
          alert("Account created");
          this.$router.push("/");
      }).catch(error => {
        this.errorMessage = error.response.data.errors.email;
        this.errorMessage += "\n";
        this.errorMessage += error.response.data.errors.displayName;
      });
  }
  fileToBase64(e: FileList): void {
    const reader = new FileReader();
    const item = e.item(0);
    if (item)
      reader.onload = e => {
        this.logo = (e.target as FileReader).result as string;
      };
    reader.readAsDataURL(item as File);
  }
}
</script>

<style lang="scss" scoped>
.register-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
}
.d-xl-flex > div {
  flex-grow: 1;
  flex-basis: 0;
}
.d-xl-flex > div {
  padding: 0px 2.5px;
}
</style>
