 <template>
  <md-card class="md-primary">
    <md-card-header>
      <div class="md-title">Ratings</div>
    </md-card-header>
    <md-card-content>
      <div class="smallRatings">
        <Rating :header="factor1Name" :rating="review.Factor1"></Rating>
        <Rating :header="factor2Name" :rating="review.Factor2"></Rating>
        <Rating :header="factor3Name" :rating="review.Factor3"></Rating>
        <Rating :header="factor4Name" :rating="review.Factor4"></Rating>
      </div>
      <div>
        <Rating
          style="font-size: 20px; margin: 10px 50px;"
          header="Overall rating"
          :rating="review.Overall"
        ></Rating>
      </div>
      <div class="content">
        <div class="md-title">Review</div>
        <div>{{review.Content}}</div>
      </div>
    </md-card-content>
  </md-card>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import City from "../models/City";
import { Watch } from "vue-property-decorator";
import Rating from "./rating.vue";

@Component({
  props: {
    review: Object
  },
  components: {
    Rating
  }
})
export default class ReviewContentCard extends Vue {
  factor1Name: string = "";
  factor2Name: string = "";
  factor3Name: string = "";
  factor4Name: string = "";

  @Watch("review", { immediate: true, deep: true })
  setFactorNames() {
    if (this.$props.review.Discriminator == "ClubReview") {
      this.factor1Name = "Sound";
      this.factor2Name = "Atmosphere";
      this.factor3Name = "Offer";
      this.factor4Name = "Prices";
    } else {
      this.factor1Name = "Sound";
      this.factor2Name = "Atmosphere";
      this.factor3Name = "Music";
      this.factor4Name = "Organization";
    }
  }

  beforeMount() {
    this.setFactorNames();
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
.md-card {
  margin-top: 10px;
}
.smallRatings {
  margin: 10px 50px;
  display: flex;
  justify-content: space-between;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}
</style>
