 <template>
  <md-card class="md-primary">
    <md-card-header>
      <div class="md-title">Rating</div>
    </md-card-header>
    <md-card-content>
      <form class="md-layout mt-3" @submit.prevent="createFormObject">
        <div v-if="entity=='Club'" class="ratingContainer">
          <div>
            Sound
            <div>
              <input type="range" min="1" max="5" v-model.number="factor1" value="1" />
              {{ factor1 }}/5
            </div>
          </div>
          <div>
            Atmosphere
            <div>
              <input type="range" min="1" max="5" v-model.number="factor2" value="1" />
              {{ factor2 }}/5
            </div>
          </div>
          <div>
            Offer
            <div>
              <input type="range" min="1" max="5" v-model.number="factor3" value="1" />
              {{ factor3 }}/5
            </div>
          </div>
          <div>
            Prices
            <div>
              <input type="range" min="1" max="5" v-model.number="factor4" value="1" />
              {{ factor4 }}/5
            </div>
          </div>
        </div>

        <div v-else class="ratingContainer">
          <div>
            Sound
            <div>
              <input type="range" min="1" max="5" v-model.number="factor1" value="1" />
              {{ factor1 }}/5
            </div>
          </div>
          <div>
            Atmosphere
            <div>
              <input type="range" min="1" max="5" v-model.number="factor2" value="1" />
              {{ factor2 }}/5
            </div>
          </div>
          <div>
            Music
            <div>
              <input type="range" min="1" max="5" v-model.number="factor3" value="1" />
              {{ factor3 }}/5
            </div>
          </div>
          <div>
            Organization
            <div>
              <input type="range" min="1" max="5" v-model.number="factor4" value="1" />
              {{ factor4 }}/5
            </div>
          </div>
        </div>
        <div class="md-title">Review</div>
        <md-field>
          <label>Describe your ratings</label>
          <md-textarea required v-model="message" type="text" maxlength="1200"></md-textarea>
        </md-field>
        <div class="justify-content-center d-flex" style="width: 100%;">
          <md-button class="md-raised md-accent" type="submit">Send</md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import City from "../models/City";
import { Watch } from "vue-property-decorator";

@Component({
  props: {
    entity: String,
    update: Object
  }
})
export default class ReviewFormCard extends Vue {
  factor1: number = 3;
  factor2: number = 3;
  factor3: number = 3;
  factor4: number = 3;
  message: string = "";

  @Watch("update", { immediate: true, deep: false })
  actualUpdate(): void {
    if (this.$props.update.Factor1) {
      this.factor1 = this.$props.update.Factor1;
      this.factor2 = this.$props.update.Factor2;
      this.factor3 = this.$props.update.Factor3;
      this.factor4 = this.$props.update.Factor4;
      this.message = this.$props.update.Content;
    }
  }
  createFormObject(): void {
    const formObject = {
      factor1: this.factor1,
      factor2: this.factor2,
      factor3: this.factor3,
      factor4: this.factor4,
      message: this.message
    };
    this.$emit("postData", formObject);
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
.ratingContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
  padding-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
}
</style>
