 <template>
  <md-card class="md-primary">
    <md-card-header style="display: flex;" class="justify-content-between">
      <div class="md-title">{{header}}</div>
    </md-card-header>
    <md-card-content>
      <md-list>
        <md-list-item :key="item.ID" v-for="item in content" @click="goToDetails(item.ID)">
          <md-avatar class="md-large">
            <img :src="item.Logo" alt="Logo" />
          </md-avatar>

          <div class="md-list-item-text">
            <span style="font-size: 120%;">{{ item.Name }}</span>
            <span v-if="entity=='Club'" style="color: rgba(255,255,255, 0.5);">{{ item.city.Name }}</span>
            <span v-else-if="item.club" style="color: rgba(255,255,255, 0.5);">{{ item.club.Name }}</span>
            <span style="color: rgba(255,255,255, 0.5);">{{ item.genres[0].Name }}</span>
          </div>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import City from "../models/City"
import { Watch } from "vue-property-decorator";

@Component({
  props: {
    header: String,
    content: Array,
    entity: String
  }
})
export default class ReviewHeaderCard extends Vue {
  goToDetails(id: number): void {
    if(this.$route.path.includes("/club")) {
      this.$router.push("/clubs/details/" + id);
    }
    else {
      this.$router.push("/events/details/"+ id);
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
.md-card-content {
  padding-bottom: 0px;
  flex-grow: 2;
}
.md-card {
  display: flex;
  flex-direction: column;
}
.md-layout {
  justify-content: space-between;
}
.md-title {
  font-size: 22px;
}
.md-list-item {
  border-bottom: solid #434250 1px;
  padding-top: 10px;
  height: auto;
}

.md-list-item:last-child {
  border-bottom: 0;
}
.md-list-item,
.md-list {
  padding: 0;
  background-color: $my-primary !important;
}
</style>
