 <template>
  <md-card md-with-hover class="md-primary">
    <md-dialog :md-active.sync="showDialog" class="md-primary">
      <md-dialog-title>Delete?</md-dialog-title>
      <div class="p-3">Are you sure you want to delete your review?</div>
      <md-dialog-actions>
        <md-button class="md-accent" @click="deleteReview">Delete</md-button>
        <md-button class="md-accent" @click="cancel">Cancel</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-card-header style="display: flex;" class="justify-content-between">
      <div class="md-title">{{header}}</div>
    </md-card-header>
    <md-card-content>
      <div class="flexHelper">
        <md-button
          v-if="!checkForUpdate()"
          class="md-raised md-accent"
          @click="createReview($route.params.id)"
        >Add your own review</md-button>
        <md-list v-if="checkForUpdate()" class="my-3">
          <md-list-item>
            <div class="md-list-item-text">
              <span style="font-size: 120%;">Your review</span>
              <div>{{ getUpdateContent().substr(0, 60) + "..." }}</div>
            </div>
            <div style="font-size: 12px;" class="md-list-action">
              <md-button class="md-icon-button" @click="goToReviewDetails(getUpdateID())">
              <md-icon>details</md-icon>
            </md-button>
              <md-button class="md-icon-button" @click="createReview($route.params.id)">
                <md-icon>update</md-icon>
              </md-button>
              <md-button class="md-icon-button" @click="showDeleteDialog(getUpdateID())">
                <md-icon>delete</md-icon>
              </md-button>
            </div>
          </md-list-item>
        </md-list>
      </div>

      <md-list>
        <md-list-item :key="item.ID" v-for="item in content" @click="goToReviewDetails(item.ID)">
          <div class="md-list-item-text">
            <span v-if="own == 'false'" style="font-size: 120%;">{{ item.app_user.DisplayName }}</span>
            <div>{{ item.Content.substr(0, 60) + "..." }}</div>
          </div>
          <div v-if="own == 'false'" style="font-size: 12px;" class="md-list-action">{{ item.Overall }}/5</div>
        </md-list-item>
      </md-list>
      <div class="pager">
        <md-button
          :style="hideElementOnNoPrevPages()"
          class="md-icon-button"
          @click="previousPage()"
        >
          <md-icon>navigate_before</md-icon>
        </md-button>
        <span style="line-height: 300%;">{{ pageNumber() }}</span>
        <md-button :style="hideElementOnNoNextPages()" class="md-icon-button" @click="nextPage()">
          <md-icon>navigate_next</md-icon>
        </md-button>
      </div>
    </md-card-content>
  </md-card>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Watch } from "vue-property-decorator";

@Component({
  props: {
    header: String,
    content: Array,
    limit: Number,
    page: Number,
    update: Array,
    own: String
  }
})
export default class ReviewListCard extends Vue {
  showDialog: boolean = false;
  deleteID = 0;
  
  getUpdateID(): number {
    return this.$props.update[0] ? this.$props.update[0].ID : 0;
  }
  getUpdateContent(): number {
    return this.$props.update[0] ? this.$props.update[0].Content : "";
  }

  @Watch("page", { immediate: true, deep: false })
  pageNumber(): number {
    return this.$props.page;
  }
  hideElementOnNoPrevPages(): string {
    return this.$props.page - 1 > 0 ? "" : "visibility: hidden;";
  }
  hideElementOnNoNextPages(): string {
    return this.$props.page + 1 <= this.$props.limit
      ? ""
      : "visibility: hidden;";
  }
  goToReviewDetails(id: number): void {
    if (this.$route.path.includes("/club")) {
      this.$router.push("/reviews/club/details/" + id);
    } else {
      this.$router.push("/reviews/events/details/" + id);
    }
  }

  @Watch("update", {immediate: true, deep: true})
  checkForUpdate(): boolean {
    return this.$props.update[0];
  }

  createReview(id: number): void {
    if (this.$route.path.includes("/club")) {
      this.$router.push("/reviews/club/" + id + "/create");
    } else {
      this.$router.push("/reviews/event/" + id + "/create");
    }
  }
  nextPage(): void {
    this.$emit("nextPage");
  }
  previousPage(): void {
    this.$emit("previousPage");
  }
  showDeleteDialog(id): void {
    this.deleteID = 0;
    this.deleteID = id;
    this.showDialog = true;
  }
  deleteReview(): void {
    if (this.deleteID != 0) {
      this.showDialog = false;
      this.$emit("deleteUpdate", this.deleteID);
    }
  }
  cancel(): void {
    this.deleteID = 0;
    this.showDialog = false;
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
.md-card-content {
  padding-bottom: 0px;
  flex-grow: 2;
}
.md-card {
  display: flex;
  flex-direction: column;
}
.md-layout {
  justify-content: space-between;
}
.buttonDiv {
  padding: 10px 0px;
}
.md-title {
  font-size: 22px;
}
.md-list-item {
  border-bottom: solid #434250 1px;
  padding-top: 10px;
  height: auto;
}

.md-list-item:last-child {
  border-bottom: 0;
}
.md-list-item,
.md-list {
  padding: 0;
  background-color: $my-primary !important;
}
.description {
  height: 70px;
  max-height: 70px;
}
.pager {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
}
.flexHelper {
  margin: 20px;
}
</style>
