 <template>
  <md-card id="#bottom_card" md-with-hover class="md-primary">
    <md-card-header style="display: flex;" class="justify-content-between">
      <div class="md-title">{{topText}}</div>
      <md-button
        style="margin-right: -10px; margin-top: -10px;"
        class="md-icon-button"
        @click="maximize()"
      >
        <md-icon md-size-2x>fullscreen</md-icon>
      </md-button>
    </md-card-header>
    <md-card-content>
      <form class="md-layout" @submit.prevent="maximize">
        <md-field>
          <label>{{ labelText }}</label>
          <md-input required v-model="searchTerm" type="text" />
          <span class="md-helper-text">{{ helperText }}</span>
        </md-field>
        <div class="justify-content-center d-flex buttonDiv" style="width: 100%;">
          <md-button class="md-raised md-accent" type="submit">Go</md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component({
  props: {
    topText: String,
    labelText: String,
    helperText: String
  }
})
export default class SearchCard extends Vue {
  searchTerm: string = "";

  maximize(): void {
    if (this.$route.path === "/clubs") {
      this.$router.push({
        name: "Clubs search",
        params: {
          initialSearchTerm: this.searchTerm
        }
      });
    }
    else {
      this.$router.push({
        name: "Events search",
        params: {
          initialSearchTerm: this.searchTerm
        }
      });
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
.md-card-content {
  padding-bottom: 0px;
  flex-grow: 2;
}
.md-card {
  display: flex;
  flex-direction: column;
}
.md-layout {
  justify-content: space-between;
}
.buttonDiv {
  padding: 20px 0px;
}
</style>
