<template>
  <div class="tab-container">
    <md-tabs class="md-primary" md-alignment="fixed">
      <md-tab id="tab-account" md-label="account">
        <form class="formcontainer" @submit.prevent="updateUser()">
          <div class="acc-flex" style="width: 100%;">
            <md-field>
              <label>Display name</label>
              <md-input required v-model="displayName" type="text" />
              <span class="md-helper-text">Enter name shown over Clubby</span>
            </md-field>
            <md-field>
              <label>Date of birth</label>
              <md-input v-model="dateOfBirth" type="date" />
            </md-field>
            <md-autocomplete v-model="city" v-bind:md-options="cityOptions">
              <label>City</label>
              <span class="md-helper-text">Main place for music</span>
            </md-autocomplete>
          </div>
          <md-field>
            <label>Personal description</label>
            <md-textarea v-model="description" type="text" maxlength="255"></md-textarea>
            <span class="md-helper-text">Few words about you</span>
          </md-field>

          <div class="justify-content-center d-flex" style="width: 100%;">
            <md-button class="md-raised md-accent" type="submit">Update</md-button>
          </div>
        </form>
      </md-tab>
      <md-tab id="tab-clubs" md-label="Clubs">
        <form class="formcontainerclub" @submit.prevent="createClub">
          <div class="d-flex justify-content-center pt-3">
            <md-button
              @click="goToClubs"
              style="width: 200px; margin-top: auto; margin-bottom: auto;"
              class="md-raised md-accent"
            >Check your clubs</md-button>
          </div>
          <div class="md-title">Create new club</div>
          <div class="top-flex">
            <md-field class="clubType">
              <label for="clubType">Club type</label>
              <md-select v-model="clubType" name="clubType" id="music">
                <md-option value="Club">Club</md-option>
                <md-option value="Pub">Pub</md-option>
                <md-option value="Concert Hall">Concert Hall</md-option>
              </md-select>
            </md-field>
            <md-button
              style="width: 50px; margin-top: auto; margin-bottom: auto;"
              class="md-raised md-accent"
              @click="goToPreviewClub()"
            >Preview</md-button>
          </div>
          <div class="d-lg-flex justify-content-around" style="width: 100%;">
            <div class="first-column">
              <md-field>
                <label>Club name</label>
                <md-input required v-model="clubName" type="text" />
                <span class="md-helper-text">Enter your club name</span>
              </md-field>
              <md-field>
                <label for="music">Music</label>
                <md-select v-model="genres" name="music" id="music" multiple>
                  <md-option
                    :key="item['ID']"
                    v-for="item in genreOptions"
                    :value="item['Name']"
                  >{{item['Name']}}</md-option>
                </md-select>
              </md-field>
              <md-field>
                <label>Facebook URL</label>
                <md-input v-model="fbContentURL" type="text" />
                <span class="md-helper-text">Your club's facebook page</span>
              </md-field>
            </div>
            <div class="second-column">
              <md-field>
                <label>Address</label>
                <md-input v-model="clubAddress" type="text" />
                <span class="md-helper-text">Enter your club address</span>
              </md-field>
              <md-autocomplete required v-model="city" v-bind:md-options="cityOptions">
                <label>City</label>
                <span class="md-helper-text">Your club's city</span>
              </md-autocomplete>
              <md-field>
                <label>Logo</label>
                <md-file @md-change="fileToBase64" accept="image/*" />
              </md-field>
            </div>
          </div>
          <md-field>
            <label>Short description</label>
            <md-textarea v-model="description" type="text" maxlength="255"></md-textarea>
            <span class="md-helper-text">Few words about your Club</span>
          </md-field>
          <div class="d-lg-flex">
            <md-field>
              <label>About Photo first</label>
              <md-file @md-change="fileToBase64AboutTop" accept="image/*" />
            </md-field>
            <md-field>
              <label>About Photo second</label>
              <md-file @md-change="fileToBase64AboutBottom" accept="image/*" />
            </md-field>
          </div>
          <md-field>
            <label>About club</label>
            <md-textarea v-model="aboutContent" type="text" maxlength="1200"></md-textarea>
            <span class="md-helper-text">Full description of you club</span>
          </md-field>
          <div class="justify-content-center d-flex" style="width: 100%;">
            <md-button class="md-raised md-accent" type="submit">Create</md-button>
          </div>
        </form>
      </md-tab>
      <md-tab id="tab-events" md-label="Events">
        <form class="formcontainerclub" @keydown.enter.prevent @submit.prevent="createEvent">
          <div class="d-flex justify-content-center pt-3">
            <md-button
              @click="goToEvents"
              style="width: 200px; margin-top: auto; margin-bottom: auto;"
              class="md-raised md-accent"
            >Check your events</md-button>
          </div>
          <div class="md-title">Create new event</div>
          <div class="top-flex">
            <md-autocomplete
              required
              v-model="club"
              v-bind:md-options="clubOptions"
              class="clubType"
            >
              <label>Club</label>
              <span class="md-helper-text">Place for event</span>
            </md-autocomplete>
            <md-button
              style="width: 50px; margin-top: auto; margin-bottom: auto;"
              class="md-raised md-accent"
              @click="goToPreviewEvent()"
            >Preview</md-button>
          </div>
          <div class="d-lg-flex justify-content-around" style="width: 100%;">
            <div class="first-column">
              <md-field>
                <label>Event name</label>
                <md-input required v-model="eventName" type="text" />
                <span class="md-helper-text">Enter your event name</span>
              </md-field>
              <md-field>
                <label for="music">Genre</label>
                <md-select v-model="genres" name="music" id="music" multiple>
                  <md-option
                    :key="item['ID']"
                    v-for="item in genreOptions"
                    :value="item['Name']"
                  >{{item['Name']}}</md-option>
                </md-select>
              </md-field>
              <md-field>
                <label>Facebook URL</label>
                <md-input v-model="fbContentURL" type="text" />
                <span class="md-helper-text">Your event's facebook page</span>
              </md-field>
              <md-switch v-model="soldOut" class="text-accent">Sold out</md-switch>
            </div>
            <div class="second-column">
              <md-field>
                <label>Date</label>
                <md-input required v-model="date" type="date" />
                <span class="md-helper-text">Enter your club address</span>
              </md-field>
              <md-field>
                <label>Start time:</label>
                <md-input required v-model="timeStart" type="time" />
                <span class="md-helper-text">Enter your club address</span>
              </md-field>
              <md-field>
                <label>End time:</label>
                <md-input required v-model="timeEnd" type="time" />
                <span class="md-helper-text">Enter your club address</span>
              </md-field>
              <md-field>
                <label>Logo</label>
                <md-file @md-change="fileToBase64" accept="image/*" />
              </md-field>
            </div>
          </div>
          <md-field>
            <label>Short description</label>
            <md-textarea v-model="description" type="text" maxlength="255"></md-textarea>
            <span class="md-helper-text">Few words about your Club</span>
          </md-field>
          <md-chips class="md-primary shake-on-error" v-model="bands" md-placeholder="Add band...">
            <div class="md-helper-text">Bands on your Event</div>
          </md-chips>
          <md-chips
            class="md-primary shake-on-error"
            v-model="ticketSites"
            md-placeholder="Add ticket site URL..."
          >
            <div class="md-helper-text">Ticket sites to buy tickets for your event</div>
          </md-chips>
          <md-field>
            <label>Long description</label>
            <md-textarea v-model="longDescription" type="text" maxlength="1200"></md-textarea>
            <span class="md-helper-text">Full description of you club</span>
          </md-field>
          <div class="justify-content-center d-flex" style="width: 100%;">
            <md-button class="md-raised md-accent" type="submit">Create</md-button>
          </div>
        </form>
      </md-tab>
    </md-tabs>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import axios from "axios";
import Genre from "../models/Genre";
import { USER_REQUEST, USER_SUCCESS, LOAD_CLUB, LOAD_EVENT } from "../store/storeConstants";
import Club from "@/models/Club";
import Event from "@/models/Event";

@Component({
  components: {}
})
export default class Settings extends Vue {
  description: string = "";
  city: string = "";
  dateOfBirth: Date = new Date();
  displayName: string = "";
  cityOptions: string[] = [];
  clubOptions: string[] = [];
  genreOptions: Genre[] = [];
  logo: string = "";

  clubName: string = "";
  clubType: string = "";
  fbContentURL: string = "";
  genres: string[] = [];
  clubAddress: string = "";
  aboutContent: string = "";
  aboutBottomPhoto: string = "";
  aboutTopPhoto: string = "";

  club: string = "";
  eventName: string = "";
  date: string = "2019-10-10";
  timeStart: string = "10:00:00";
  timeEnd: string = "12:00:00";
  longDescription: string = "";
  bands: string[] = [];
  ticketSites: string[] = [];
  soldOut: boolean = false;

  getClubOptions(): void {
    axios({
      method: "get",
      url: "/api/club",
      params: {
        column: ["Name"]
      }
    }).then(response => {
      for (var i in response.data.data)
        this.clubOptions.push(response.data.data[i]["Name"]);
    });
  }

  goToClubs(): void {
    this.$router.push("/club/own");
  }
  goToEvents(): void {
    this.$router.push("/event/own");
  }

  getCityOptions(): void {
    try {
      axios.get("/api/city").then(response => {
        for (var i in response.data.data)
          this.cityOptions.push(response.data.data[i]["Name"]);
      });
    } catch (error) {
      Vue.$log.error(error);
    }
  }

  getGenreOptions(): void {
    axios({
      method: "get",
      url: "/api/genre"
    })
      .then(response => {
        for (var i in response.data.data)
          this.genreOptions.push(response.data.data[i] as Genre);
      })
      .catch(error => Vue.$log.error(error));
  }

  beforeMount() {
    this.getClubOptions();
    this.getCityOptions();
    this.getGenreOptions();
    this.description = this.$store.getters.getProfile.PersonalDesc;
    this.city = this.$store.getters.getProfile.city.Name;
    this.displayName = this.$store.getters.getProfile.DisplayName;
    this.dateOfBirth = this.$store.getters.getProfile.DateOfBirth;
  }

  updateUser(): void {
    const data = {
      description: this.description,
      city: this.city,
      displayName: this.displayName,
      dateOfBirth: this.dateOfBirth
    };
    axios({
      method: "put",
      url: `/api/appUser/${this.$store.getters.getProfile.ID}`,
      data: data
    })
      .then(response => {
        this.$store.commit(USER_SUCCESS, response.data);
        alert("Data updated");
      })
      .catch(error => {
        Vue.$log.error(error);
      });
  }

  fileToBase64(e: FileList): void {
    const reader = new FileReader();
    const item = e.item(0);
    if (item)
      reader.onload = e => {
        this.logo = (e.target as FileReader).result as string;
      };
    reader.readAsDataURL(item as File);
  }
  fileToBase64AboutBottom(e: FileList): void {
    const reader = new FileReader();
    const item = e.item(0);
    if (item)
      reader.onload = e => {
        this.aboutBottomPhoto = (e.target as FileReader).result as string;
      };
    reader.readAsDataURL(item as File);
  }
  fileToBase64AboutTop(e: FileList): void {
    const reader = new FileReader();
    const item = e.item(0);
    if (item)
      reader.onload = e => {
        this.aboutTopPhoto = (e.target as FileReader).result as string;
      };
    reader.readAsDataURL(item as File);
  }
  collectClubData(){
    const data = {
          description: this.description,
          city: this.city,
          logo: this.logo,
          name: this.clubName,
          clubType: this.clubType,
          fbContentURL: this.fbContentURL,
          address: this.clubAddress,
          aboutContent: this.aboutContent,
          aboutPhoto2: this.aboutBottomPhoto,
          aboutPhoto1: this.aboutTopPhoto,
          genres: this.genres
      }
      return data;
  }
  collectDataPreviewClub() {
    var data = {
      ID: 0,
      ShortDesc: this.description,
      city: {
        ID: 0,
        Name: this.city,
      },
      logo: this.logo,
      Logo: this.logo,
      Name: this.clubName,
      club_type: {
        ID: 0,
        Name: this.clubType
        },
      FbContentURL: this.fbContentURL,
      Address: this.clubAddress,
      AboutUsContent: this.aboutContent,
      AboutUsPhoto2: this.aboutBottomPhoto,
      AboutUsPhoto1: this.aboutTopPhoto,
      genres: [],
    };
    for (var i in this.genres){
      (data.genres as Array<any>).push({
        "Name": this.genres[i],
        ID: i
        });
    }
    return data;
  }
  createClub(){
    const data = this.collectClubData();
      axios({
        method: "post",
        url: `/api/club`,
        data: data
      }).then(response => {
        alert("Club created");
        this.$router.push("/club/own");
      }).catch(error => {
        alert("Club name is already taken");
      });
  }
  goToPreviewClub() {
    this.$store.commit(LOAD_CLUB, this.collectDataPreviewClub());
    const routeData = this.$router.resolve("/clubs/details/preview");
    window.open(routeData.href, '_blank');
  }

  goToPreviewEvent() {
    this.$store.commit(LOAD_EVENT, this.collectEventData());
    const routeData = this.$router.resolve("/events/details/preview");
    window.open(routeData.href, '_blank');
  }
  collectDataPreviewEvent(){
    
  }
  
  collectEventData(){
    const data = {
       description: this.description,
       timeEnd: this.timeEnd,
       timeStart: this.timeStart,
       name: this.eventName,
       date: this.date,
       logo: this.logo,
       fbContentURL: this.fbContentURL,
       soldOut: this.soldOut,
       longDescription: this.longDescription,
       club: this.club,
       genres: this.genres,
       bands: this.bands,
       ticketSites: this.ticketSites
    };
    return data;
  }
  createEvent(){
    const data = this.collectEventData();
    axios({
      method: "post",
      url: `/api/event`,
      data: data
    })
      .then(response => {
        alert("Event created");
        this.$router.push("/event/own");
      })
      .catch(error => {
        alert("Event name is already taken");
      });
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
#tab-clubs {
  padding: 0;
}
#tab-events {
  padding: 0;
}
#tab-account {
  padding: 0;
}
.md-tab {
  padding: 0;
}
.formcontainer {
  background-color: $my-primary;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.formcontainerclub {
  background-color: $my-primary;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.first-column {
  @include media-breakpoint-up(lg) {
    // Larger than sm: 576px

    width: 40%;
  }
}
.second-column {
  @include media-breakpoint-up(lg) {
    // Larger than sm: 576px

    width: 40%;
  }
}
.top-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @include media-breakpoint-down(lg) {
    // Larger than sm: 576px
    flex-direction: column-reverse;
  }
}
.clubType {
  @include media-breakpoint-up(lg) {
    // Larger than sm: 576px

    width: 60%;
  }
}
.acc-flex {
  display: flex;
  justify-content: space-between;
  @include media-breakpoint-down(lg) {
    // Larger than sm: 576px
    flex-direction: column;
  }
}
.acc-flex div {
  @include media-breakpoint-up(lg) {
    // Larger than sm: 576px

    width: 32%;
  }
  @include media-breakpoint-down(lg) {
    // Larger than sm: 576px
    flex-direction: column;
  }
}
.text-accent {
  color: $my-accent;
}
.md-list-item {
  border-bottom: solid #434250 1px;
  padding-top: 10px;
  height: auto;
}

.md-list-item:last-child {
  border-bottom: 0;
}
.md-list-item,
.md-list {
  padding: 0;
  background-color: $my-primary !important;
}
.description {
  height: 70px;
  max-height: 70px;
}
</style>
