<template>
  <div class="page-container">
    <md-app>
      <md-app-toolbar class="md-primary md-dense d-flex responsive-text" v-bind:style="noNavBars()">
        <md-button class="md-icon-button" @click="toggleMenu" v-if="!$store.state.appState.menuVisible">
          <md-icon>menu</md-icon>
        </md-button>
        <div v-if="displayName()" class="md-title md-toolbar-section-end">
          Logged as {{ displayName() }}
          <md-button class="md-icon-button" @click="logout">
            <md-icon class="md-accent">power_settings_new</md-icon>
          </md-button>
        </div>
      </md-app-toolbar>

      
      <md-app-drawer v-if="persistent()" :md-active.sync="$store.state.appState.menuVisible">
        <md-toolbar class="md-primary md-dense"  md-elevation="0">
          <md-button class="md-icon-button" @click="toggleMenu" v-if="!$store.state.appState.bigScreen">
            <md-icon>keyboard_arrow_left</md-icon>
          </md-button>
          <div v-else class="md-toolbar-section-end"></div>
          <div class="md-toolbar-section-end">
            <md-button class="md-icon-button" @click="goHome">
              <md-icon>home</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <customNav v-bind:listType="$store.state.appState.appState" v-bind:photo="$store.state.appState.logo"></customNav>
      </md-app-drawer>

      <md-app-drawer v-if="!persistent()" :md-active.sync="$store.state.appState.menuVisible" md-persistent="full">
        <md-toolbar class="md-primary md-dense"  md-elevation="0">
          <md-button class="md-icon-button" @click="toggleMenu" v-if="!$store.state.appState.bigScreen">
            <md-icon>keyboard_arrow_left</md-icon>
          </md-button>
          <div v-else class="md-toolbar-section-end"></div>
          <div class="md-toolbar-section-end">
            <md-button class="md-icon-button" @click="goHome">
              <md-icon>home</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <customNav v-bind:listType="$store.state.appState.appState" v-bind:photo="$store.state.appState.logo"></customNav>
      </md-app-drawer>

      <md-app-content>
        <router-view></router-view>
      </md-app-content>
    </md-app>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import CustomNav from "./customNav.vue";
import { Watch } from "vue-property-decorator";
import { AUTH_LOGOUT, MENU_START, MENU_TOGGLE } from "../store/storeConstants";

@Component({
  components: { CustomNav }
})
export default class SiteContainer extends Vue {
  persistent(): boolean {
      return !this.$store.state.appState.bigScreen;
  }
  toggleMenu(): boolean {
    this.$store.commit(MENU_TOGGLE);
    return this.$store.state.appState.menuVisible;
  }
  beforeMount(): void {
    this.onAppStart();
  }
  noNavBars(): string {
    return "";
  }
  onAppStart(): void {
    this.$store.commit(MENU_START);
  }
  displayName(): void {
    return this.$store.state.user.profile.DisplayName
      ? this.$store.state.user.profile.DisplayName
      : "";
  }
  logout(): void {
    this.$store.dispatch(AUTH_LOGOUT);
    this.$router.push("/login");
  }
  goHome(): void {
    this.$router.push("/");
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import "../app-theme.scss";

.md-app {
  max-height: 100%;
  border: 1px solid rgba(#000, 0.12);
  @include media-breakpoint-up(md) {
    // Larger than sm: 576px
    min-height: 880px;
    // max-height: 880px;
  }
  @include media-breakpoint-down(md) {
    // Larger than sm: 576px
    min-height: 800px;
  }
}
.md-drawer {
  display: block;
  width: 230px;
  max-width: calc(100vw - 125px);
  background-color: $my-primary !important;
}
.md-app-toolbar,
.md-toolbar {
  padding-right: 0;
}
.md-accent {
  color: $my-accent !important;
}
.md-title {
  font-size: 16px !important;
  @include media-breakpoint-up(sm){
    font-size: 20px !important;
  }
}
</style>
