 <template>
  <div v-show="show" class="cards-container">
    <div class="bigCard">
      <NewContentCard :entity="entity" :content="contentCardContent" :header="contentCardHeadline" :maximize="contentCardRoute"></NewContentCard>
    </div>
    <div class="vertical-flex">
      <searchCard
        v-if="search"
        :topText="topSearchText"
        :helperText="helperSearchText"
        :labelText="labelSearchText"
      ></searchCard>
      <NewContentCard :entity="entity" :content="cityBasedCardContent" :header="cityBasedHeadline" :maximize="cityBasedRoute"></NewContentCard>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import SearchCard from "./searchCard.vue";
import NewContentCard from "./newContentCard.vue";
import Institution from "../models/Institution";
import axios from "axios";
import City from "../models/City";

const SMALLER_CARD_CAPACITY = 6;
const BIGGER_CARD_CAPACITY = 12;

@Component({
  components: {
    SearchCard,
    NewContentCard
  },
  props: {
    entity: String
  }
})
export default class ThreeCards extends Vue {
  show: Boolean = false;
  search: Boolean = true;
  topSearchText: String = "";
  labelSearchText: String = "";
  helperSearchText: String = "";
  contentCardHeadline: String = "";
  cityBasedHeadline: String = "";
  contentCardContent: Institution[] = [];
  cityBasedCardContent: Institution[] = [];
  additionalCardContent: Institution[] = [];
  cityBasedRoute: String = "";
  contentCardRoute: String = "";
  additionalRoute: String = "";
  beforeMount(): void {
    switch (this.$props.entity) {
      case "Club":
        this.topSearchText = "Search for clubs";
        this.labelSearchText = "Club";
        this.helperSearchText = "Find the desired club";
        this.contentCardHeadline = "Clubs to discover";
        this.cityBasedHeadline =
          "Clubs in " + this.$store.getters.getProfile.city.Name;
        this.cityBasedRoute = "/clubs/"+this.$store.getters.getProfile.city.ID;
        this.getClubs();
        this.contentCardRoute = "/clubs/0";
        break;
      case "Event":
        this.topSearchText = "Search for events";
        this.labelSearchText = "Event";
        this.helperSearchText = "Discover great music events";
        this.contentCardHeadline = "Upcomming events";
        this.cityBasedHeadline =
          "Events in " + this.$store.getters.getProfile.city.Name;
        this.getEvents();
        this.cityBasedRoute = "/events/"+this.$store.getters.getProfile.city.ID;
        this.contentCardRoute = "events/0";
        break;
      case "Rating":
        this.search = false;
        this.topSearchText = "Clubs to rate";
        this.contentCardHeadline = "Events to rate";
        this.cityBasedHeadline = "Last ratings";
        this.cityBasedCardContent = this.getRatedClubs();
        this.contentCardContent = this.getEventsToRate();
        this.additionalCardContent = this.getClubsToRate();
        break;
    }
  }
  getClubs(): void {

    axios({
      method: "get",
      url: `/api/club/city/${this.$store.getters.getProfile.city.ID}`,
      params: {
        "limit": `${SMALLER_CARD_CAPACITY}`
      }
    }).then(response => {
      for (var i in response.data.data){
        this.cityBasedCardContent.push(response.data.data[i]);
      }
    }).catch(error => {
      Vue.$log.debug(error);
    });

    axios({
      method: "get",
      url: `/api/club`,
      params: {
        "limit": `${BIGGER_CARD_CAPACITY}`
      }
    }).then(response => {
      for (var i in response.data.data){
        this.contentCardContent.push(response.data.data[i]);
      }
      this.show = true;
    }).catch(error => {
      Vue.$log.debug(error);
    });    
  }
  getEvents(){

    axios({
      method: "get",
      url: `/api/event/city/${this.$store.getters.getProfile.city.ID}`,
      params: {
        "limit": `${SMALLER_CARD_CAPACITY}`
      }
    }).then(response => {
      for (var i in response.data.data){
        this.cityBasedCardContent.push(response.data.data[i]);
      }
    }).catch(error => {
      Vue.$log.debug(error);
    });

    axios({
      method: "get",
      url: `/api/event`,
      params: {
        "limit": `${BIGGER_CARD_CAPACITY}`
      }
    }).then(response => {
      for (var i in response.data.data){
        this.contentCardContent.push(response.data.data[i]);
      }
      this.show = true;
    }).catch(error => {
      Vue.$log.debug(error);
    });  

  }

  getClubsToDiscover(): Institution[] {
    return [];
  }
  getCityEvents(): Institution[] {
    return [];
  }
  getUpcommingEvents(): Institution[] {
    return [];
  }
  getRatedClubs(): Institution[] {
    return [];
  }
  getClubsToRate(): Institution[] {
    return [];
  }
  getEventsToRate(): Institution[] {
    return [];
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
.cards-container {
  display: flex;
  height: 100%;
  flex-basis: 100%;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}
.vertical-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
  min-width: 0;
  @include media-breakpoint-up(lg) {
    max-width: 50%;
  }
}

.md-card {
  margin-top: 5px;
  margin-bottom: 5px;
}
.vertical-flex .md-card:first-child {
  flex-grow: 1;
}
.vertical-flex .md-card:last-child {
  flex-grow: 20;
}
.bigCard {
  height: 100%;
  flex-grow: 1;
  @include media-breakpoint-up(lg) {
    max-width: 50%;
  }
}
.bigCard .md-card {
  height: 99%;
  min-height: 99%;

  margin-top: 0x;
  margin-bottom: 0px;
}
</style>
