<template>
  <div class="tab-container">
    <form class="formcontainerclub" @submit.prevent="updateEvent">
      <div class="md-title p-3">Update event {{ header }}</div>
      <div class="top-flex">
        <md-autocomplete required v-model="club" v-bind:md-options="clubOptions" class="clubType">
          <label>Club</label>
          <span class="md-helper-text">Place for event</span>
        </md-autocomplete>
        <md-button
          style="width: 50px; margin-top: auto; margin-bottom: auto;"
          class="md-raised md-accent"
          @click="goToPreview()"
        >Preview</md-button>
      </div>
      <div class="d-lg-flex justify-content-around" style="width: 100%;">
        <div class="first-column">
          <md-field>
            <label>Event name</label>
            <md-input required v-model="eventName" type="text" />
            <span class="md-helper-text">Enter your event name</span>
          </md-field>
          <md-field>
            <label for="music">Genre</label>
            <md-select v-model="genres" name="music" id="music" multiple>
              <md-option
                :key="item['ID']"
                v-for="item in genreOptions"
                :value="item['Name']"
              >{{item['Name']}}</md-option>
            </md-select>
          </md-field>
          <md-field>
            <label>Facebook URL</label>
            <md-input v-model="fbContentURL" type="text" />
            <span class="md-helper-text">Your event's facebook page</span>
          </md-field>
          <md-switch v-model="soldOut" class="text-accent">Sold out</md-switch>
        </div>
        <div class="second-column">
          <md-field>
            <label>Date</label>
            <md-input required v-model="date" type="date" />
            <span class="md-helper-text">Enter your club address</span>
          </md-field>
          <md-field>
            <label>Start time:</label>
            <md-input required v-model="timeStart" type="time" />
            <span class="md-helper-text">Enter your club address</span>
          </md-field>
          <md-field>
            <label>End time:</label>
            <md-input required v-model="timeEnd" type="time" />
            <span class="md-helper-text">Enter your club address</span>
          </md-field>
          <md-field>
            <label>Logo</label>
            <md-file @md-change="fileToBase64" accept="image/*" />
          </md-field>
        </div>
      </div>
      <md-field>
        <label>Short description</label>
        <md-textarea v-model="description" type="text" maxlength="255"></md-textarea>
        <span class="md-helper-text">Few words about your Club</span>
      </md-field>
      <md-chips class="md-primary shake-on-error" v-model="bands" md-placeholder="Add band...">
        <div class="md-helper-text">Bands on your Event</div>
      </md-chips>
      <md-chips
        class="md-primary shake-on-error"
        v-model="ticketSites"
        md-placeholder="Add ticket site URL..."
      >
        <div class="md-helper-text">Ticket sites to buy tickets for your event</div>
      </md-chips>
      <md-field>
        <label>Long description</label>
        <md-textarea v-model="longDescription" type="text" maxlength="1200"></md-textarea>
        <span class="md-helper-text">Full description of you club</span>
      </md-field>
      <div class="justify-content-center d-flex" style="width: 100%;">
        <md-button class="md-raised md-accent" type="submit">Update</md-button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import axios from "axios";
import Genre from "../models/Genre";
import { USER_REQUEST, USER_SUCCESS, LOAD_EVENT } from "../store/storeConstants";
import Club from "@/models/Club";
import Event from "@/models/Event";

@Component({
  components: {}
})
export default class UpdateEvent extends Vue {
  header: string = "";

  description: string = "";
  clubOptions: string[] = [];
  genreOptions: Genre[] = [];
  logo: string = "";

  fbContentURL: string = "";
  genres: string[] = [];

  club: string = "";
  eventName: string = "";
  date: string = "2019-10-10";
  timeStart: string = "10:00:00";
  timeEnd: string = "12:00:00";
  longDescription: string = "";
  bands: string[] = [];
  ticketSites: string[] = [];
  soldOut: boolean = false;

  getClubOptions(): void {
    axios({
      method: "get",
      url: "/api/club",
      params: {
        column: ["Name"]
      }
    }).then(response => {
      for (var i in response.data.data)
        this.clubOptions.push(response.data.data[i]["Name"]);
    });
  }

  getGenreOptions(): void {
    axios({
      method: "get",
      url: "/api/genre"
    })
      .then(response => {
        for (var i in response.data.data)
          this.genreOptions.push(response.data.data[i] as Genre);
      })
      .catch(error => Vue.$log.error(error));
  }
  getEvent(): void {
    axios({
      url: `/api/event/${this.$route.params.id}`,
      method: "get"
    })
      .then(response => {
        this.header = response.data.data.Name;
        
        this.description = response.data.data.ShortDesc;
        this.timeEnd = response.data.data.TimeEnd;
        this.timeStart = response.data.data.TimeStart;
        this.eventName = response.data.data.Name;
        this.date = response.data.data.Date;
        this.logo = response.data.data.Logo;
        this.fbContentURL = response.data.data.FbContentURL;
        this.soldOut = response.data.data.SoldOut;
        this.longDescription = response.data.data.LongDescription;
        this.club = response.data.data.club.Name;
        for (var i in response.data.data.genres) {
          this.genres.push(response.data.data.genres[i].Name);
        }
        for (var j in response.data.data.event_bands) {
          this.bands.push(response.data.data.event_bands[j].Bands);
        }
        for (var z in response.data.data.event_ticket_sites) {
          this.ticketSites.push(
            response.data.data.event_ticket_sites[z].TicketSites
          );
        }
      })
      .catch(error => {
        Vue.$log.error(error);
      });
  }

  beforeMount(): void {
    this.getClubOptions();
    this.getGenreOptions();
    this.getEvent();
  }

  fileToBase64(e: FileList): void {
    const reader = new FileReader();
    const item = e.item(0);
    if (item)
      reader.onload = e => {
        this.logo = (e.target as FileReader).result as string;
      };
    reader.readAsDataURL(item as File);
  }
  collectData() {
    const data = {
       description: this.description,
       timeEnd: this.timeEnd,
       timeStart: this.timeStart,
       name: this.eventName,
       date: this.date,
       logo: this.logo,
       fbContentURL: this.fbContentURL,
       soldOut: this.soldOut,
       longDescription: this.longDescription,
       club: this.club,
       genres: this.genres,
       bands: this.bands,
       ticketSites: this.ticketSites
    };
    return data;
  }
  updateEvent() {
    const data = this.collectData();
     axios({
      method: "put",
      url: `/api/event/${this.$route.params.id}`,
      data: data
    })
      .then(response => {
        alert("Event updated");
        this.$router.push("/event/own");
      })
      .catch(error => {
        alert("Event name is already taken");
      });
  }
  goToPreview() {
    this.$store.commit(LOAD_EVENT, this.collectDataPreviewEvent());
    const routeData = this.$router.resolve("/events/details/preview");
    window.open(routeData.href, '_blank');
  }
  collectDataPreviewEvent(){
    const data = {
       ShortDesc: this.description,
       TimeEnd: this.timeEnd,
       TimeStart: this.timeStart,
       Name: this.eventName,
       Date: this.date,
       logo: this.logo,
       Logo: this.logo,
       FbContentURL: this.fbContentURL,
       SoldOut: this.soldOut,
       LongDescription: this.longDescription,
       club: {
         Name: this.club
       },
       genres: [],
       event_bands: [],
       event_ticket_sites: []
    };
    for (var i in this.genres){
      (data.genres as Array<any>).push({
        "Name": this.genres[i],
        ID: i
        });
    }
    for (var j in this.bands){
      (data.event_bands as Array<any>).push({
        "Bands": this.bands[j],
        ID: j
        });
    }
    for (var k in this.ticketSites){
      (data.event_ticket_sites as Array<any>).push({
        "Name": this.ticketSites[k],
        ID: k
        });
    }
    return data;
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
#tab-clubs {
  padding: 0;
}
#tab-events {
  padding: 0;
}
#tab-account {
  padding: 0;
}
.md-tab {
  padding: 0;
}
.formcontainer {
  background-color: $my-primary;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.formcontainerclub {
  background-color: $my-primary;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.first-column {
  @include media-breakpoint-up(lg) {
    // Larger than sm: 576px

    width: 40%;
  }
}
.second-column {
  @include media-breakpoint-up(lg) {
    // Larger than sm: 576px

    width: 40%;
  }
}
.top-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @include media-breakpoint-down(lg) {
    // Larger than sm: 576px
    flex-direction: column-reverse;
  }
}
.clubType {
  @include media-breakpoint-up(lg) {
    // Larger than sm: 576px

    width: 60%;
  }
}
.acc-flex {
  display: flex;
  justify-content: space-between;
  @include media-breakpoint-down(lg) {
    // Larger than sm: 576px
    flex-direction: column;
  }
}
.acc-flex div {
  @include media-breakpoint-up(lg) {
    // Larger than sm: 576px

    width: 32%;
  }
  @include media-breakpoint-down(lg) {
    // Larger than sm: 576px
    flex-direction: column;
  }
}
.text-accent {
  color: $my-accent;
}
.md-list-item {
  border-bottom: solid #434250 1px;
  padding-top: 10px;
  height: auto;
}

.md-list-item:last-child {
  border-bottom: 0;
}
.md-list-item,
.md-list {
  padding: 0;
  background-color: $my-primary !important;
}
.description {
  height: 70px;
  max-height: 70px;
}
</style>
