<template>
  <div class="tab-container">
    <form class="formcontainerclub" @submit.prevent="updateClub">
      <div class="md-title p-3">Update club {{header}}</div>
      <div class="top-flex">
        <md-field class="clubType">
          <label for="clubType">Club type</label>
          <md-select v-model="clubType" name="clubType" id="music">
            <md-option value="Club">Club</md-option>
            <md-option value="Pub">Pub</md-option>
            <md-option value="Concert Hall">Concert Hall</md-option>
          </md-select>
        </md-field>
        <md-button
          style="width: 50px; margin-top: auto; margin-bottom: auto;"
          class="md-raised md-accent"
          @click="goToPreview()"
        >Preview</md-button>
      </div>
      <div class="d-lg-flex justify-content-around" style="width: 100%;">
        <div class="first-column">
          <md-field>
            <label>Club name</label>
            <md-input required v-model="clubName" type="text" />
            <span class="md-helper-text">Enter your club name</span>
          </md-field>
          <md-field>
            <label for="music">Music</label>
            <md-select v-model="genres" name="music" id="music" multiple>
              <md-option
                :key="item['ID']"
                v-for="item in genreOptions"
                :value="item['Name']"
              >{{item['Name']}}</md-option>
            </md-select>
          </md-field>
          <md-field>
            <label>Facebook URL</label>
            <md-input v-model="fbContentURL" type="text" />
            <span class="md-helper-text">Your club's facebook page</span>
          </md-field>
        </div>
        <div class="second-column">
          <md-field>
            <label>Address</label>
            <md-input v-model="clubAddress" type="text" />
            <span class="md-helper-text">Enter your club address</span>
          </md-field>
          <md-autocomplete required v-model="city" v-bind:md-options="cityOptions">
            <label>City</label>
            <span class="md-helper-text">Your club's city</span>
          </md-autocomplete>
          <md-field>
            <label>Logo</label>
            <md-file @md-change="fileToBase64" accept="image/*" />
          </md-field>
        </div>
      </div>
      <md-field>
        <label>Short description</label>
        <md-textarea v-model="description" type="text" maxlength="255"></md-textarea>
        <span class="md-helper-text">Few words about your Club</span>
      </md-field>
      <div class="d-lg-flex">
        <md-field>
          <label>About Photo first</label>
          <md-file @md-change="fileToBase64AboutTop" accept="image/*" />
        </md-field>
        <md-field>
          <label>About Photo second</label>
          <md-file @md-change="fileToBase64AboutBottom" accept="image/*" />
        </md-field>
      </div>
      <md-field>
        <label>About club</label>
        <md-textarea v-model="aboutContent" type="text" maxlength="1200"></md-textarea>
        <span class="md-helper-text">Full description of you club</span>
      </md-field>
      <div class="justify-content-center d-flex" style="width: 100%;">
        <md-button class="md-raised md-accent" type="submit">Update</md-button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import axios from "axios";
import Genre from "../models/Genre";
import { USER_REQUEST, USER_SUCCESS, LOAD_CLUB } from "../store/storeConstants";
import Club from "@/models/Club";
import Event from "@/models/Event";

@Component({
  components: {}
})
export default class UpdateClub extends Vue {
  header: string = "";

  description: string = "";
  city: string = "";
  cityOptions: string[] = [];
  genreOptions: Genre[] = [];
  logo: string = "";

  clubName: string = "";
  clubType: string = "";
  fbContentURL: string = "";
  genres: string[] = [];
  clubAddress: string = "";
  aboutContent: string = "";
  aboutBottomPhoto: string = "";
  aboutTopPhoto: string = "";

  getCityOptions(): void {
    try {
      axios.get("/api/city").then(response => {
        for (var i in response.data.data)
          this.cityOptions.push(response.data.data[i]["Name"]);
      });
    } catch (error) {
      Vue.$log.error(error);
    }
  }

  getGenreOptions(): void {
    axios({
      method: "get",
      url: "/api/genre"
    })
      .then(response => {
        for (var i in response.data.data)
          this.genreOptions.push(response.data.data[i] as Genre);
      })
      .catch(error => Vue.$log.error(error));
  }

  getClub() {
    axios({
      url: `/api/club/${this.$route.params.id}`,
      method: "get"
    })
      .then(response => {
        this.header = response.data.data.Name;

        this.description = response.data.data.ShortDesc;
        this.city = response.data.data.city.Name;
        this.logo = response.data.data.Logo;
        this.clubName = response.data.data.Name;
        this.clubType = response.data.data.club_type.Name;
        this.fbContentURL = response.data.data.FbContentURL;
        this.clubAddress = response.data.data.Address;
        this.aboutContent = response.data.data.AboutUsContent;
        this.aboutBottomPhoto = response.data.data.AboutUsPhoto2;
        this.aboutTopPhoto = response.data.data.AboutUsPhoto1;
        for (var i in response.data.data.genres) {
          this.genres.push(response.data.data.genres[i].Name);
        }
      })
      .catch(error => {
        Vue.$log.error(error);
      });
  }

  beforeMount() {
    this.getCityOptions();
    this.getGenreOptions();
    this.getClub();
  }

  fileToBase64(e: FileList): void {
    const reader = new FileReader();
    const item = e.item(0);
    if (item)
      reader.onload = e => {
        this.logo = (e.target as FileReader).result as string;
      };
    reader.readAsDataURL(item as File);
  }
  fileToBase64AboutBottom(e: FileList): void {
    const reader = new FileReader();
    const item = e.item(0);
    if (item)
      reader.onload = e => {
        this.aboutBottomPhoto = (e.target as FileReader).result as string;
      };
    reader.readAsDataURL(item as File);
  }
  fileToBase64AboutTop(e: FileList): void {
    const reader = new FileReader();
    const item = e.item(0);
    if (item)
      reader.onload = e => {
        this.aboutTopPhoto = (e.target as FileReader).result as string;
      };
    reader.readAsDataURL(item as File);
  }
  collectData() {
    const data = {
      description: this.description,
      city: this.city,
      logo: this.logo,
      name: this.clubName,
      clubType: this.clubType,
      fbContentURL: this.fbContentURL,
      address: this.clubAddress,
      aboutContent: this.aboutContent,
      aboutPhoto2: this.aboutBottomPhoto,
      aboutPhoto1: this.aboutTopPhoto,
      genres: this.genres
    };
    return data;
  }
  collectDataPreview() {
    var data = {
      ID: 0,
      ShortDesc: this.description,
      city: {
        ID: 0,
        Name: this.city,
      },
      logo: this.logo,
      Logo: this.logo,
      Name: this.clubName,
      club_type: {
        ID: 0,
        Name: this.clubType
        },
      FbContentURL: this.fbContentURL,
      Address: this.clubAddress,
      AboutUsContent: this.aboutContent,
      AboutUsPhoto2: this.aboutBottomPhoto,
      AboutUsPhoto1: this.aboutTopPhoto,
      genres: [],
    };
    for (var i in this.genres){
      (data.genres as Array<any>).push({
        "Name": this.genres[i],
        ID: i
        });
    }
    return data;
  }
  updateClub() {
    const data = this.collectData;
    axios({
      method: "put",
      url: `/api/club/${this.$route.params.id}`,
      data: data
    })
      .then(response => {
        alert("Club updated");
        this.$router.push("/club/own");
      })
      .catch(error => {
        alert("Club name is already taken");
      });
  }
  goToPreview() {
    this.$store.commit(LOAD_CLUB, this.collectDataPreview());
    const routeData = this.$router.resolve("/clubs/details/preview");
    window.open(routeData.href, '_blank');
  }
}
</script>

<style lang="scss" scoped>
@import "../app-theme.scss";
#tab-clubs {
  padding: 0;
}
#tab-events {
  padding: 0;
}
#tab-account {
  padding: 0;
}
.md-tab {
  padding: 0;
}
.formcontainer {
  background-color: $my-primary;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.formcontainerclub {
  background-color: $my-primary;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.first-column {
  @include media-breakpoint-up(lg) {
    // Larger than sm: 576px

    width: 40%;
  }
}
.second-column {
  @include media-breakpoint-up(lg) {
    // Larger than sm: 576px

    width: 40%;
  }
}
.top-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @include media-breakpoint-down(lg) {
    // Larger than sm: 576px
    flex-direction: column-reverse;
  }
}
.clubType {
  @include media-breakpoint-up(lg) {
    // Larger than sm: 576px

    width: 60%;
  }
}
.acc-flex {
  display: flex;
  justify-content: space-between;
  @include media-breakpoint-down(lg) {
    // Larger than sm: 576px
    flex-direction: column;
  }
}
.acc-flex div {
  @include media-breakpoint-up(lg) {
    // Larger than sm: 576px

    width: 32%;
  }
  @include media-breakpoint-down(lg) {
    // Larger than sm: 576px
    flex-direction: column;
  }
}
.text-accent {
  color: $my-accent;
}
.md-list-item {
  border-bottom: solid #434250 1px;
  padding-top: 10px;
  height: auto;
}

.md-list-item:last-child {
  border-bottom: 0;
}
.md-list-item,
.md-list {
  padding: 0;
  background-color: $my-primary !important;
}
.description {
  height: 70px;
  max-height: 70px;
}
</style>
