$my-primary: #252831;
$my-accent: #ed9e04;

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

@import "../node_modules/vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme(
  "default",
  (
    primary: $my-primary,
    // The primary color of your application
      accent: $my-accent,
    // The accent or secondary color
      theme: dark
  )
);

@import "../node_modules/vue-material/dist/theme/all"; // Apply the theme

.page-container {
  @include media-breakpoint-up(lg) {
    // Larger than sm: 576px
    @include make-container($gutter: $grid-gutter-width);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 75%;
    max-width: 1100px;
  }
}
.md-helper-text {
  color: $my-accent !important;
}
.md-field {
  background-color: $my-primary !important;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
}
.md-field::after {
  background-color: $my-accent !important;
}
.md-field button svg {
  fill: $my-accent !important;
}
.md-field button {
  top: 17.5% !important;
}
.md-field label {
  color: $my-accent !important;
  top: 15px;
  padding-left: 10px;
  padding-bottom: 5px;
}
.md-field.md-focused label, .md-field.md-has-value label {
	pointer-events: auto;
	top: 0;
	opacity: 1;
	font-size: 12px;
}
.md-field::after {
  border-color: $my-accent !important;
}
.md-count {
  color: $my-accent !important;
}
.md-input {
  color: $my-accent !important;
}
.md-input::placeholder {
  color: white;
}
