<template>
  <SiteContainer></SiteContainer>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import SiteContainer from './components/siteContainer.vue'

@Component({
  components: { SiteContainer }
})
export default class App extends Vue {
}
</script>

<style lang="scss">
#app {
  font-family: 'Roboto','Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
